a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

.our_desti_sec2{margin-top: -7.813vw;}
.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.042vw; grid-row-gap: 1.042vw;}
.feature_desti_row .network_travel_img_text p{font-size: 0.729vw; color: #ffffff; line-height: 0.729vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.042vw; grid-row-gap: 1.042vw;}
.feature_desti_row .network_travel_img_text p{font-size: 0.729vw; color: #ffffff; line-height: 0.729vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 27.292vw; position: relative; overflow: hidden;}
.network_travel_box .network_travel_top .network_travel_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 0.781vw 1.042vw rgb(0, 0, 0, 0.16); transition: 0.3s ease-in-out;}
.network_travel_box .network_travel_top{position: relative;}
.network_travel_box .network_travel_top:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.24; mix-blend-mode: multiply; width: 100%; height: 100%; bottom: 0; left: 0; right: 0; z-index: 1;}


.network_travel_top .network_travel_img_text{text-align: center; position: absolute; bottom: 2.240vw; left: 0; right: 0; margin: 0 auto; width: 80%; z-index: 2;}
.network_travel_top .network_travel_img_text h3{font-size: 2.083vw; color: #ffffff;}
.network_travel_top .network_travel_img_text .btn a{font-size: 0.833vw;  border-radius: 0.026vw; font-weight: 800; border: solid 0.026vw #ffffff; background-color: transparent; padding: 0.521vw 1.094vw; text-decoration: none;}
.network_travel_top .network_travel_img_text .btn a:hover{background-color: #ffffff; color: #F85241;}

@media only screen and (max-width: 1024px){
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 3.515vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 1.298vw; padding: 1.090vw 1.441vw;}

  .feature_desti_row{column-gap: 1.251vw; grid-row-gap: 1.251vw; grid-template-columns: repeat(2, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 1.441vw; line-height: 1.3;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 1.649vw;}
}

@media only screen and (max-width: 768px){
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 4.478vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 2.294vw; padding: 1.588vw 3.575vw;}

  .feature_desti_row{grid-row-gap: 5.929vw; grid-template-columns: repeat(1, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 2.366vw;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 2.289vw;}
  .network_travel_top .network_travel_img_text{bottom: 4.374vw;}
  .network_travel_top .network_travel_img_text{width: 90%;}
}


@media only screen and (max-width: 575px){
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 3.437vw; padding: 2.375vw 3.508vw;}
  .feature_desti_row .network_travel_img_text p{font-size: 3.579vw;}

}