a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

.our_desti_sec2{margin-top: -10.981vw;}
.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.464vw; grid-row-gap: 1.464vw;}
.feature_desti_row .network_travel_img_text p{font-size: 1.025vw; color: #ffffff; line-height: 1.025vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 1.318vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.464vw; grid-row-gap: 1.464vw;}
.feature_desti_row .network_travel_img_text p{font-size: 1.025vw; color: #ffffff; line-height: 1.025vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 1.318vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 38.36vw; position: relative; overflow: hidden;}
.network_travel_box .network_travel_top .network_travel_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16); transition: 0.3s ease-in-out;}
.network_travel_box .network_travel_top{position: relative;}
.network_travel_box .network_travel_top:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.24; mix-blend-mode: multiply; width: 100%; height: 100%; bottom: 0; left: 0; right: 0; z-index: 1;}


.network_travel_top .network_travel_img_text{text-align: center; position: absolute; bottom: 3.148vw; left: 0; right: 0; margin: 0 auto; width: 80%; z-index: 2;}
.network_travel_top .network_travel_img_text h3{font-size: 2.928vw; color: #ffffff;}
.network_travel_top .network_travel_img_text .btn a{font-size: 1.171vw;  border-radius: 0.0365vw; font-weight: 800; border: solid 0.0365vw #ffffff; background-color: transparent; padding: 0.732vw 1.537vw; text-decoration: none;}
.network_travel_top .network_travel_img_text .btn a:hover{background-color: #ffffff; color: #F85241;}

@media only screen and (max-width: 1024px){
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 4.94vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}

  .feature_desti_row{column-gap: 1.758vw; grid-row-gap: 1.758vw; grid-template-columns: repeat(2, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 2.025vw; line-height: 1.3;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 2.318vw;}
}

@media only screen and (max-width: 768px){
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 6.294vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 3.225vw; padding: 2.232vw 5.025vw;}

  .feature_desti_row{grid-row-gap: 8.333vw; grid-template-columns: repeat(1, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 3.325vw;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 3.218vw;}
  .network_travel_top .network_travel_img_text{bottom: 6.148vw;}
  .network_travel_top .network_travel_img_text{width: 90%;}
}