@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Oswald:wght@400;700&family=Bebas+Neue&display=swap');
.heroSectionBg {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: -12%;
  pointer-events: none;
  z-index: -2;
}

.heroSecDashboard {
  inline-size: 85%;
  z-index: -1;
}

.heroSectionElements {
  inset-block-start: 18%;
  inset-inline-end: 3%;
  img {
    inline-size: 100%;
  }
}

.featureIcon {
  cursor: pointer;

  & > div:first-child {
    border-color: var(--mui-palette-primary-darkOpacity);
  }

  & > div:hover {
    background-color: var(--mui-palette-primary-mainOpacity);
    svg {
      pointer-events: none;
    }
  }
}

a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

.slick_next, .slick_prev{width: auto; height: auto; font-size: 0; line-height: 0;  position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0,-50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0;}
.slick_next, .slick_prev{width: auto; height: auto; top: calc(50% - 0.781vw);}
.slick_next:before, .slick_prev:before{display: none;}
.slick_prev{left: 1.667vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.slick_prev:hover{opacity: 1;}
.slick_next{right: 1.667vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.slick_next:hover{opacity: 1;}
.slick_dots{display: flex; justify-content: center; bottom: -2.134vw; gap:0.356vw; list-style:none; position:absolute; width:100%; z-index:1; }
.slick_dots li{width: auto; height: auto; margin: 0; padding: 0; cursor: pointer;}
.slick_dots li button{width: 0.886vw; height: 0.886vw; border-radius: 3.705vw; background-color: #ffffff; border: solid 0.052vw #131313; padding: 0; cursor: pointer;}
.slick_dots li button.active{border-color: #EA5647; background-color: #EA5647;}
.slick_dots li button:before{display: none;}
.slick-dotted.slick-slider{margin-bottom: 0;}


@media only screen and (max-width: 1024px){
  .slick_dots li button{width: 1.597vw; height: 1.597vw;}
  .slick_dots{gap: 1.067vw; bottom: -4.269vw;}  
}

@media only screen and (max-width: 768px){
  .slick_dots li button{width: 2.309vw; height: 2.309vw;}
  .slick_dots{gap: 1.779vw;}
  
}


/*banner-start*/

.home_banner{position: relative;}
.home_banner .hero_slide_box{min-height: 100vh; display: flex !important; align-items: center; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; position: relative;}
.home_banner .hero_slide_box:before{position: absolute; content: ""; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); opacity: 0.53; mix-blend-mode: multiply; width: 100%; height: 100%; top: 0; left: 0;}
.home_banner .hero_slide_container{max-width: 80%; margin: 0 auto; width: 100%; padding: 0 5.208vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 1; row-gap: 3vw;}
.home_banner .hero_slide_text{max-width: 30.438vw;}
.home_banner .hero_slide_text p{color: #ffffff; font-size: 0.938vw; font-weight: 700; font-style: italic; padding-left: 1vw; padding-right: 5vw; line-height: 1.25vw;}
.home_banner .hero_slide_text h1,
.home_banner .hero_slide_text h2{color: #ffffff; font-size: 8.49vw; line-height: 7.187vw; padding-bottom: 2.343vw; letter-spacing: -0.020em;}

.home_banner .slick_next, .home_banner .slick_prev{width: auto; height: auto;}
.home_banner .slick_next:before, .home_banner .slick_prev:before{display: none;}
.home_banner .slick_prev{left: 1.667vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_prev:hover{opacity: 1;}
.home_banner .slick_next{right: 1.667vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_next:hover{opacity: 1;}

.location_name{display: flex; align-items: center; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); column-gap: 0.512vw;}
.location_name img{width: 1.146vw; height: 1.146vw;}
.location_name span{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400; color: #ffffff;}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide { min-height: unset !important; }


.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: linear-gradient(180deg,rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(205, 202, 202, 1) 100%); border-radius:0.417vw; padding: 1.563vw 3.646vw; box-shadow: 0 0.598vw 1.064vw rgb(0 0 0 / 20%); max-width: 95%; margin: 0 auto;}
.search_row form{display: flex; gap:0.833vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.25vw; font-weight: 600; color: #1f1f1f; margin-bottom: 0.521vw; display: block; line-height: 1; font-family: "Roboto Condensed", sans-serif;}
.search_row form .search_select select{border: solid 0.0365vw #c7c7c7; outline: none; border-radius: 0.313vw; padding: 0.732vw 2.343vw; width: 100%; font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-size: 1.042vw; color: #1F1F1F;}
.search_row form .search_select.ss1 select{background: url(/images/svg/map.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/svg/building.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss3 select{background: url(/images/svg/user.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.25vw; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Bebas Neue", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center; letter-spacing: 0.05em;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}



@media only screen and (max-height: 900px) and (min-width: 691px) {
    .home_banner .hero_slide_box {
        min-height: 800px !important;
    }
}


@media only screen and (max-width: 1024px){
.home_banner .hero_slide_container{max-width: 90%; padding: 0 4.223vw;}
.home_banner .hero_slide_text{max-width: 41.845vw;}
.home_banner .hero_slide_text p{font-size: 1.818vw; padding-left: 1.2vw; line-height: 1.2;}
.location_name span{font-size: 1.918vw;}
.location_name img{width: 2.55vw; height: 2.55vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw; max-width: 95%;}
.search_row form .search_select label{font-size: 1.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}

}

@media only screen and (max-width: 768px){
  .home_banner .hero_slide_container{padding: 0 2.223vw;}
.search_box{bottom: -18vw;}
body .home_banner .hero_slide_box{min-height: 80vh;}
.home_banner .hero_slide_text{max-width: 100%;}
.home_banner .hero_slide_text p{font-size: 3.968vw; padding-left: 0; padding-right: 0; line-height: 1.3;}
.home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size: 11.517vw; line-height: 1;}
.location_name span{font-size: 4.518vw;}
.location_name img{width: 3.55vw; height: 3.55vw;}
.search_row form{flex-direction: column; gap: 1.866vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw;}
.search_row form > div{width: 100%;}
.search_row form .search_select label{font-size: 2.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}


}

/*banner-end*/


/*home-section1*/

.home_section1{padding-top: 10.938vw; background: url(/images/front-pages/images/line-bg.jpg) center no-repeat; background-size: cover; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.32);}
.home_section1 .container .grid2{max-width: 60.208vw; margin: 0 auto;}
.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 3.333vw;}
.bamboo_boat{position: relative;}
.bamboo_boat:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.67; mix-blend-mode: multiply; width: 100%; height: 30%; bottom: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.58);}
.location_name.bamboo_boat_loc{position: absolute; bottom: 2.928vw; right: 2.928vw; z-index: 1;}
.adventure_right_text .advanture_text1 h3{font-size: 1.771vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 1.098vw 0 1.196vw;}
.adventure_right_text .advanture_text2 h2{font-size: 4.167vw; color:#1F1F1F; line-height: 3.646vw;}
.adventure_right_text .advanture_text2 img{margin-right: 2.1vw; width: 5vw; height: 6.042vw;}
.adventure_right_text p span{font-weight: 800;}


.home_testimonial{max-width: 39.271vw; margin: 0 auto; padding-top: 10.47vw;}
.testimonial_box{text-align: center;}
.testimonial_box p{line-height: 2.865vw; color: #1F1F1F; text-transform: uppercase; font-family: "Bebas Neue", sans-serif; font-weight: 400; padding: 0;}
.testimonial_box h4{font-size: 1.667vw; color: #1F1F1F; text-transform: uppercase; padding-top: 1.171vw;}
.home_testimonial .qt_img{padding-bottom: 2vw; padding-left: 2vw;}
.home_testimonial .qt_img img{width: 3.88vw; height: 2.855vw;}

@media only screen and (max-width: 1024px){
.home_testimonial .qt_img img{width: 5.176vw; height: 3.809vw;}
.home_section1 .container{max-width: 100%;}
.home_section1 .container .grid2{max-width: 100%;}
.adventure_right_text .advanture_text1 h3{font-size: 3.489vw;}
.adventure_right_text .advanture_text1 a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 2.318vw; height: 2.018vw;}
.adventure_right_text .advanture_text2 h2{font-size: 6.857vw; line-height: 1.1;}
.adventure_right_text .advanture_text2 img{width: 8.223vw; height: 9.467vw;}
.home_testimonial{max-width: 76.565vw;}
.testimonial_box p{line-height: 1;}
.testimonial_box h4{font-size: 3.343vw;}
.adventure_right_text .advanture_text1, .adventure_right_text .advanture_text2{column-gap: 1.333vw;}
  
}

@media only screen and (max-width: 768px){
  .home_testimonial .qt_img img{width: 6.901vw; height: 5.078vw;}
.home_section1{padding-top: 30.788vw;}
.location_name.bamboo_boat_loc{bottom: 3.928vw; right: 3.928vw;}
.home_section1 .container{max-width: 100%;}
.adventure_right_text .advanture_text1 h3{font-size: 5.489vw;}
.adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}
.adventure_right_text .advanture_text2 h2{font-size: 8.857vw; line-height: 1.1;}
.adventure_right_text .advanture_text2 img{width: 10.223vw; height: 11.467vw;}
.adventure_right_text .advanture_text2{padding: 3.098vw 0 3.196vw;}
.home_testimonial{max-width: 100%;}
.testimonial_box p{line-height: 1;}
.testimonial_box h4{font-size: 4.643vw;}
  
}

/*home-section1-end*/



/*home-section2-start*/

section.home_section2{position: relative;}
.adventure_post{position: relative;}
.home_section2 .slick-dotted.slick-slider{margin-bottom: 0;}
/*.home_slider2 .slick-list{padding: 0 9.114vw !important;}*/
.home_slider2 .slick-list,
.home_slider2 .slick-list .slick-track{display: flex;}

.home_slider2 .resort_box{position: relative;}
.home_slider2 .resort_box .resort_img{position: relative; padding-bottom: 46.12vw;}
.home_slider2 .slick-slide:not(.slick-active) .resort_box .resort_img:before{position: absolute; content: ""; background-color: #1F1F1F; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; opacity: 0.53;}
.home_section2 .home_slider2 .resort_box .resort_img img{position: absolute; width: 100%;height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 0.781vw 1.042vw rgb(0, 0, 0, 0.16); display: block;}
.home_slider2 .resort_box .resort_text{text-align: center; position: absolute; bottom: 3.148vw; left: 0; right: 0; margin: 0 auto; width: 100%; z-index: 2;}
.home_slider2 .resort_box:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.55; mix-blend-mode: multiply; width: 100%; height: 50%; bottom: 0; left: 0; right: 0; z-index: 1;}
.home_slider2 .resort_box .resort_text h3{font-size: 2.604vw; color: #ffffff;}
.home_slider2 .resort_box .resort_text p{font-size: 0.938vw; color: #ffffff; text-transform: uppercase; font-weight: 600; letter-spacing: 0.2em;}
.home_slider2 .resort_box .btn a{font-size: 1.354vw; font-family: "Bebas Neue", sans-serif; border-radius: 0; font-weight: 400;}
.home_slider2 .resort_box .btn a:hover{background-color: #ffffff; color: #F85241;}
.home_slider2 .slick_next, .home_slider2 .slick_prev{width: auto; height: auto; top: calc(50% - 0.781vw);}
.home_slider2 .slick_next:before, .home_slider2 .slick_prev:before{display: none;}
.home_slider2 .slick_prev{left: 2.343vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.927vw; height: 2.813vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_slider2 .slick_prev:hover{opacity: 1;}
.home_slider2 .slick_next{right: 2.343vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.927vw; height: 2.813vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_slider2 .slick_next:hover{opacity: 1;}
.home_slider2 .slick_dots{display: flex; justify-content: center; bottom: -3vw; gap:0.5vw; list-style:none; position:absolute; width:100%; z-index:1; }
.home_slider2 .slick_dots li{width: auto; height: auto; margin: 0; padding: 0; cursor: pointer;}
.home_slider2 .slick_dots li button{width: 1.245vw; height: 1.245vw; border-radius: 3.705vw; background-color: #ffffff; border: solid 0.052vw #131313; padding: 0; cursor: pointer;}
.home_slider2 .slick_dots li button.active{border-color: #EA5647; background-color: #EA5647;}
.home_slider2 .slick_dots li button:before{display: none;}
.home_slider2 .slick-dotted.slick-slider{margin-bottom: 0;}

.destination_btn{position: absolute; bottom: 0; right: 13.543vw; z-index: 2;}
.destination_btn a{font-size: 1.25vw; font-weight: 400; color: #1F1F1F; text-transform: uppercase; font-family: "Bebas Neue", sans-serif;}
.destination_btn a:hover{color: #EA5647;}


@media only screen and (max-width: 1024px){
  .home_slider2 .resort_box .resort_text h3{font-size: 4.66vw;}
  .home_slider2 .resort_box .resort_text p{font-size: 2.318vw;}
  .home_slider2 .resort_box .btn a{font-size: 2.903vw;}
  .home_slider2 .resort_box .resort_img{padding-bottom: 56.12vw;}
  .destination_btn a{font-size: 2.357vw;}
  .home_slider2 .slick_dots li button{width: 2.245vw; height: 2.245vw;}
  .home_slider2 .slick_dots{gap: 1.5vw; bottom: -6vw;}
  .destination_btn{bottom: -7vw; right: 3.125vw;}
  
}

@media only screen and (max-width: 768px){
  .home_slider2 .resort_box .resort_text h3{font-size: 6.66vw;}
.home_slider2 .resort_box .resort_text p{font-size: 3.618vw;}
.home_slider2 .resort_box .btn a{font-size: 3.903vw;}
.home_slider2 .resort_box .resort_img{padding-bottom: 100%;}
.home_slider2 .resort_box .resort_text{bottom: 5.148vw;}
  .destination_btn a{font-size: 3.437vw;}
  .home_slider2 .slick_dots li button{width: 3.245vw; height: 3.245vw;}
  .home_slider2 .slick_dots{gap: 2.5vw;}
  
}

/*home-section2-end*/


/*home-section3-start*/


.home_section3{ position:relative; }
.head_text_center{max-width: 36.427vw; margin: 0 auto; text-align: center; padding-bottom: 1.757vw;;}
.head_text_center h2{color: #000000; letter-spacing: -0.005em;}

.network_travel_slider{ position:relative; }
.network_travel_slider .slick-list,
.network_travel_slider .slick-track{display: flex;}
.network_travel_slider .slick-list{margin: 0 -0.732vw;}
.network_travel_slider .slick-list .slick-slide{padding: 0.732vw;}
/*.network_travel_box .network_travel_top{ overflow: hidden; }*/
.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 27.292vw; position: relative; overflow: hidden;}
.network_travel_box .network_travel_top .network_travel_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 0.781vw 1.042vw rgb(0, 0, 0, 0.16); transition: 0.3s ease-in-out;}
.network_travel_box .network_travel_top{position: relative;}
.network_travel_box .network_travel_top:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.24; mix-blend-mode: multiply; width: 100%; height: 100%; bottom: 0; left: 0; right: 0; z-index: 1;}

.network_travel_top .network_travel_img_text{text-align: center; position: absolute; bottom: 3.148vw; left: 0; right: 0; margin: 0 auto; width: 80%; z-index: 2;}
.network_travel_top .network_travel_img_text h3{font-size: 2.083vw; color: #ffffff;}
.network_travel_top .network_travel_img_text .btn a{font-size: 0.833vw;  border-radius: 0.0365vw; font-weight: 800; border: solid 0.0365vw #ffffff; background-color: transparent; padding: 0.732vw 1.537vw; text-decoration: none;}
.network_travel_top .network_travel_img_text .btn a:hover,
a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

.network_travel_bottom{padding-top: 3.021vw; max-width: 19.792vw; margin: 0 auto;}
.network_travel_profile{display: flex; align-items: center; gap:0.878vw;}
.network_travel_profile img{width: 3.125vw; height: 3.125vw; border-radius: 100%;}
.network_travel_profile_info h4{font-size: 1.354vw; font-family: "Bebas Neue", sans-serif; letter-spacing: -0.015em; line-height: 1;}
.network_travel_profile_info span{font-size: 0.729vw; color: #1F1F1F; font-weight: 500; font-style: italic; line-height: 1;}
.network_travel_follow a{font-size: 0.729vw; letter-spacing: -0.015em; font-weight: 700; color: #EA5647; text-transform: uppercase;font-family: "Montserrat", sans-serif;}
.network_travel_follow a:hover{text-decoration: underline;}
.network_travel_follow{display: flex; align-items: center; column-gap: 0.878vw;}
.network_travel_follow span{font-size: 0.729vw; letter-spacing: -0.015em; font-weight: 700; color: #1F1F1F; text-transform: uppercase;font-family: "Montserrat", sans-serif;}
.network_travel_text p{padding: 0.878vw 0; font-size: 0.833vw; line-height: 1.146vw;}
.network_travel_likes{display: flex; flex-wrap: wrap; gap:0.833vw;}
.network_travel_likes span{font-size: 0.729vw; font-weight: 500; color: #1F1F1F; font-family: "Montserrat", sans-serif;}
.network_travel_likes ul{list-style: none; display: flex; gap:0.833vw;}
.network_travel_likes ul li a svg:hover path{fill: #EA5647;}
.network_travel_likes ul li a svg{width: 1.098vw; height: 1.025vw;}

.network_travel_slider .slick_next, .network_travel_slider .slick_prev{width: auto; height: auto; top: calc(50% - 1.098vw);}
.network_travel_slider .slick_next:before, .network_travel_slider .slick_prev:before{display: none;}
.network_travel_slider .slick_prev{left: -4.343vw; z-index: 1; background: url(/images/front-pages/images/left-gray-arrow.svg) center no-repeat; background-size: contain; width: 1.927vw; height: 2.813vw; opacity: 0.17; transition: 0.3s ease-in-out;}
.network_travel_slider .slick_prev:hover{opacity: 1;}
.network_travel_slider .slick_next{right: -4.343vw; z-index: 1; background: url(/images/front-pages/images/right-gray-arrow.svg) center no-repeat; background-size: contain; width: 1.927vw; height: 2.813vw; opacity: 0.17; transition: 0.3s ease-in-out;}
.network_travel_slider .slick_next:hover{opacity: 1;}


@media only screen and (max-width: 1024px){
  .head_text_center{padding-bottom: 3.384vw;}
  .head_text_center{padding-bottom: 4.757vw;}
.network_travel_follow span{font-size: 3.025vw;}
.network_travel_profile{gap: 2.878vw;}
.network_travel_bottom{padding-top: 4.343vw; max-width: 100%;}
.head_text_center{max-width: 100%;}
.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
.network_travel_top .network_travel_img_text h3{font-size: 4.94vw;}
.network_travel_top .network_travel_img_text .btn a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
.network_travel_profile img{width: 5.859vw; height: 5.859vw; border-radius: 100%;}
.network_travel_profile_info h4{font-size: 2.903vw;}
.network_travel_profile_info span,
.network_travel_follow a{font-size: 1.825vw;}
.network_travel_text p{font-size: 1.871vw; line-height: 1.2; padding: 1.878vw 0;}
.network_travel_likes span{font-size: 1.825vw;}
.network_travel_likes ul li a svg{width: 2.098vw; height: 1.525vw;}
  
}

@media only screen and (max-width: 768px){
  .head_text_center{max-width: 100%;}
.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
.network_travel_top .network_travel_img_text h3{font-size: 6.294vw;}
.network_travel_top .network_travel_img_text .btn a{font-size: 3.437vw; padding: 2.375vw 3.508vw;}
.network_travel_profile img{width: 7.859vw; height: 7.859vw; border-radius: 100%;}
.network_travel_profile_info h4{font-size: 3.903vw;}
.network_travel_profile_info span,
.network_travel_follow a{font-size: 2.825vw;}
.network_travel_text p{font-size: 2.871vw; line-height: 1.2;}
.network_travel_likes span{font-size: 2.825vw;}
.network_travel_likes ul li a svg{width: 3.098vw; height: 2.525vw;}
  
}

/*home-section3-end*/


/*home-section4-start*/

.home_section4{background-color: rgb(231, 194, 104, 0.43); overflow: hidden;}
.become_row{display: flex; align-items: center; flex-wrap: wrap; padding-bottom: 2.865vw;}
.become_row .become_left{width: calc(50% - 3.66vw); margin-right: -7.321vw; background-color: #F85241; border-radius: 0.659vw; padding: 2.928vw 4.685vw 2.928vw 5.857vw; position: relative; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.15);}
.become_row .become_right{width: calc(50% + 10.981vw);}
.become_img{margin-right: 0;}
.become_img img{border-radius: 0.512vw; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16);}
.become_left_text h2{color: #1F1F1F; letter-spacing: -0.005em; padding-bottom: 1.171vw;}
.become_left_text p{color: #ffffff;}
.become_left_text .btn{padding-top: 2.635vw;}
.become_left_text .btn a{background-color: #1F1F1F; border-radius: 0; }
.become_left_text .btn a:hover{background-color: #ffffff; color: #1F1F1F;}
.insta_feed{max-width: 65.365vw; margin: 0 auto;}


@media only screen and (max-width: 1024px){
  .become_row .become_left{padding: 2.928vw 4.685vw 2.928vw 1.757vw;}
.insta_feed{padding: 0 1.757vw; max-width: 100%;}
  
}

@media only screen and (max-width: 768px){
  .become_row .become_left{width: 100%; margin: 0 0 4vw; padding: 8.125vw 3.125vw; border-radius: 0;}
.become_left_text .btn{padding-top: 3.171vw;}
.become_img img{border-radius: 0;}
.become_row .become_right{width: 100%;}
.become_img{margin-right: 0;}
.insta_feed{padding: 0;}
  
}

/*home-section4-end*/


/*home-section5-start*/


.network_travel_profile .adv_post_top_right{display: flex; flex-wrap: wrap; align-items: center; column-gap:0.878vw; line-height: 1;}
.network_travel_profile .adv_post_top_right .adv_trailblazer{width: 100%;}
.network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 0.878vw; font-weight: 700; text-transform: uppercase;}
.adventure_post .slick-dotted.slick-slider{margin-bottom: 0;}
.adventure_post_slide .slick-list{padding: 0;}
.adventure_post_slide .slick-list,
.adventure_post_slide .slick-list .slick-track{display: flex;}
.adventure_post_slide .slick-list .slick-slide{padding: 1.042vw 1.042vw 2.196vw;}
.adventure_post_slide .slick-list .slick-slide > div{height: 100%;}
.adventure_post_slide .slick_dots{display: flex; justify-content: center; bottom: -3vw; gap:0.5vw; }
.adventure_post_slide .slick_dots li{width: auto; height: auto; margin: 0; padding: 0;}
.adventure_post_slide .slick_dots li button{width: 1.245vw; height: 1.245vw; border-radius: 5.208vw; background-color: #ffffff; border: solid 0.0365vw #131313; padding: 0;}
.adventure_post_slide .slick_dots li.slick-active button{border-color: #EA5647; background-color: #EA5647;}
.adventure_post_slide .slick_dots li button:before{display: none;}
.adventure_post_box{background-color: #ffffff; padding: 2.196vw; border: solid 0.0365vw #CECECE; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); height: 100%;}
.adventure_post_box .network_travel_bottom{padding: 0 0 1.757vw; max-width: 100%;}

.adventure_post_slide .adv_post_img_slide .slick-list{padding: 0 !important; margin: 0 -0.366vw;}
.adventure_post_slide .adv_post_img_slide .slick-list .slick-slide{padding: 0.366vw;}
.adv_post_img_slide .slick_next:before, .adv_post_img_slide .slick_prev:before{display: none;}
.adv_post_img_slide .slick_prev{left: 0.512vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow-small.svg) center no-repeat; background-size: contain; width: 1.098vw; height: 1.611vw; opacity: 0.69; transition: 0.3s ease-in-out;}
.adv_post_img_slide .slick_prev:hover,
.adventure_post_slide .slick-list .slick-slide.slick-active .adv_post_img_slide .slick_prev{opacity: 1;}
.adv_post_img_slide .slick_next{right: 0.512vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow-small.svg) center no-repeat; background-size: contain; width: 1.098vw; height: 1.611vw; opacity: 0.69; transition: 0.3s ease-in-out;}
.adv_post_img_slide .slick_next:hover,
.adventure_post_slide .slick-list .slick-slide.slick-active .adv_post_img_slide .slick_next{opacity: 1;}
.adv_post_img_slide .adv_post_img_box .post_api_img{padding-bottom: 85%; position: relative;}
.adv_post_img_slide .adv_post_img_box .post_api_img img{position: absolute; width: 100%; height: 100%; top: 0; left: 0; object-fit: cover;}


@media only screen and (max-width: 1024px){
  .network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 1.678vw;}
  .network_travel_profile .adv_post_top_right{line-height: 1.1;}
  .adventure_post_slide .slick_dots li button{width: 2.245vw; height: 2.245vw;}
  .adventure_post_slide .slick_dots{gap: 1.5vw; bottom: -6vw;}
  .adventure_post{padding: 0 1.042vw;}
  
}

@media only screen and (max-width: 768px){
  .network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 2.678vw;}
  .adv_post_img_slide .slick_prev,
  .adv_post_img_slide .slick_next{width: 2.098vw; height: 2.611vw;}
  .adventure_post_slide .slick_dots li button{width: 3.245vw; height: 3.245vw;}
  .adventure_post_slide .slick_dots{gap: 2.5vw;}
  
}


/*home-section5-end*/


/*home-section6-start*/

.adv_guide{ position:relative; }
.adv_guide_slider .slick-list,
.adv_guide_slider .slick-track{display: flex;}
.adv_guide_slider .adv_guide_slider{margin: 0 -0.732vw;}
.adv_guide_slider .slick-list .slick-slide{padding: 0 0.732vw 2.196vw;}
.adv_guide_slider .slick-list .slick-slide > div{height: 100%;}
.adv_guide_slider .adv_guide_box{height: 100%; border: solid 0.0365vw #CECECE; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); position: relative; padding-bottom: 4.392vw;}
.adv_guide_box .adv_guide_top .adv_guide_img{padding-bottom: 15.417vw; position: relative;}
.adv_guide_box .adv_guide_top .adv_guide_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16);}
.adv_guide_box .adv_guide_top{position: relative;}
.adv_guide_box .adv_guide_top .adv_guide_img_logo{position: absolute; top: 1.757vw; left: 1.757vw;}
.adv_guide_bottom{padding: 2.083vw 2.083vw 0 2.083vw;}
.adv_guide_bottom h4{font-size: 1.667vw; padding-bottom: 0.732vw;}
.adv_guide_bottom p{font-size: 0.833vw; letter-spacing: -0.005em;}
.adv_guide_bottom .btn{position: absolute; bottom: 1.757vw;}
.adv_guide_bottom .btn a{border: solid 0.0365vw #707070; background-color: #1F1F1F; border-radius: 0; padding: 0.732vw 2.123vw;  line-height: 1.2; font-family: "Bebas Neue", sans-serif; font-weight: 400; font-size: 0.938vw;}
.adv_guide_bottom .btn a:hover{background-color: #EA5647;}
.home_section6 .slick_next, .home_section6 .slick_prev{width: auto; height: auto; top: calc(50% - 0.781vw);}
.home_section6 .slick_next:before, .home_section6 .slick_prev:before{display: none;}
.home_section6 .slick_prev{left: -4.343vw; z-index: 1; background: url(/images/front-pages/images/left-gray-arrow.svg) center no-repeat; background-size: contain; width: 1.927vw; height: 2.813vw; opacity: 0.17; transition: 0.3s ease-in-out;}
.home_section6 .slick_prev:hover{opacity: 1;}
.home_section6 .slick_next{right: -4.343vw; z-index: 1; background: url(/images/front-pages/images/right-gray-arrow.svg) center no-repeat; background-size: contain; width: 1.927vw; height: 2.813vw; opacity: 0.17; transition: 0.3s ease-in-out;}
.home_section6 .slick_next:hover{opacity: 1;}


@media only screen and (max-width: 1024px){
  .adv_guide_box .adv_guide_top .adv_guide_img{padding-bottom: 85%;}
.adv_guide_box .adv_guide_top .adv_guide_img_logo{top: 3.757vw; left: 3.757vw;}
.adv_guide_bottom h4{font-size: 3.343vw;}
.adv_guide_bottom p{font-size: 1.845vw;}
.adv_guide_bottom{padding: 2.859vw;}
.adv_guide_bottom .btn a{font-size: 2.318vw;}
  
}

@media only screen and (max-width: 768px){
  .adv_guide_box .adv_guide_top .adv_guide_img{padding-bottom: 85%;}
.adv_guide_bottom h4{font-size: 5.343vw;}
.adv_guide_bottom p{font-size: 2.845vw;}
.adv_guide_bottom .btn a{padding: 2.375vw 3.508vw; font-size: 3.903vw;}
.adv_guide_slider .adv_guide_box{padding-bottom: 0;}
.adv_guide_bottom .btn{position: relative; bottom: auto;}
  
}


/*home-section6-end*/

.search_box input{border: solid 0.052vw #707070; outline: none; border-radius: 0.157vw; padding: 0.521vw 1.667vw; width: 100%; background: none; min-height: 2.031vw; }
.search_box input[type="date"]::-webkit-inner-spin-button,
.search_box input[type="date"]::-webkit-calendar-picker-indicator {display: none;-webkit-appearance: none;}

@media only screen and (max-width: 1024px){
  .search_box input{font-size: 1.208vw; min-height: 3.454vw; padding: 0.521vw 2.378vw;}

}


@media only screen and (max-width: 768px){
  .search_box input{font-size: 1.920vw; min-height: 4.877vw; padding: 0.521vw 3.090vw;}
  
}