/*banner-start*/

.home_banner{position: relative;}

.banner_bg_image{position: relative;}
.banner_bg_image .banner_bg_image_hero{padding-bottom: 40.41vw; position: relative;}
.banner_bg_image .banner_bg_image_hero img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0;}

.home_section2 .home_slider2{position:relative;}


@media only screen and (max-width: 1024px){
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 53.906vw;}
  .banner_bg_image_text{bottom: 10.742vw;}
}

@media only screen and (max-width: 768px){
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 71.875vw;;}
}

/*banner-end*/

/*merchandise_sec1-start*/

.shop_merch{position: relative;}
.merch_sec1 .shop_merch:before{position: absolute; content: ""; border: solid 0.22vw #ffffff; top: 0.952vw; left: 0.952vw; right: 0.952vw; bottom: 0.952vw; z-index: 1; background: linear-gradient(180deg, rgba(31, 31, 31, 0) 70%, rgba(0, 0, 0, 1) 100%); opacity: 0.55;}
.shop_merch .shop_merch_img{position: relative; padding-bottom: 95%; overflow: hidden;}
.shop_merch .shop_merch_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; transition: 0.3s ease-in-out;}
.merch_info{position: absolute; bottom: 3.66vw; left: 0.952vw; right: 0.952vw; text-align: center; z-index: 2;}
.merch_info h4{font-size: 1.977vw; color: #ffffff; letter-spacing: 0.2em; padding-bottom: 0.586vw;}
.merch_info .btn a{font-family: "Bebas Neue", sans-serif; border-radius: 0; font-weight: 400; letter-spacing: 0.02em; min-width: 7.321vw;}
a.fl_bx_lnk_glb:hover ~ .merch_info .btn a{background-color: #000000;}
a.fl_bx_lnk_glb:hover ~ .shop_merch_img img{transform: scale(1.1);}

.ambassadorship_sec1{background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none;}
.ambassadorship_img{position: relative; margin-top: -14vw;}
.amb_sec1_inner{text-align: center; margin-top: -15vw; max-width: 58.199vw; margin-left: auto; margin-right: auto; position: relative; z-index: 1;}
.ambassador_video{padding-top: 1.464vw;}
.ambassador_video iframe{border-radius: 0.586vw;}


@media only screen and (max-width: 1024px){
  .amb_sec1_inner{max-width: 100%;} 
  .merch_info h4{font-size: 2.977vw;}
  .merch_info .btn a{min-width: 12.321vw;}
}

@media only screen and (max-width: 768px){
  .merch_info h4{font-size: 4.277vw; padding-bottom: 2.586vw;}
  .merch_info .btn a{min-width: 18.321vw;}
  .merch_info{bottom: 5.66vw;}
}


/*merchandise_sec1-end*/

/*merchandise_sec2-strat */

.merch_sec2{position: relative; z-index: 1;}

/*merchandise_sec2-end */

/*merchandise_sec3-start*/

.merch_sec3{margin-top: -12.225vw;}
.merch_club{position: relative;}
.merch_club .join_club{position: absolute; bottom: 7.687vw; background-color: #F85241; padding: 3.66vw 2.343vw; text-align: center; max-width: 31.332vw; left: 12.445vw;}
.merch_club .join_club > span{padding: 1.171vw 0; display: block; color: #ffffff;}
.promos{display: flex; align-items: stretch; justify-content: center;}
.promos input[type="email"]{background-color: rgb(235, 234, 234, 0.81); text-align: center; min-height: 3.294vw; padding: 1.098vw; color: #1F1F1F; font-size: 0.878vw; border: none; outline: none; min-width: 17.13vw; font-family: "Raleway", sans-serif;}
.promos input[type="email"]::placeholder{color: #1F1F1F;}
.promos input[type="submit"]{background-color: #1F1F1F; text-align: center; min-height: 3.294vw; padding: 0.732vw; color: #ffffff; font-size: 1.318vw; font-weight: 800; text-transform: uppercase; border: none; outline: none; min-width: 7.613vw; font-family: "Raleway", sans-serif; cursor: pointer; transition: 0.3s ease-in-out; height: 100%;}
.promos input[type="submit"]:hover{background-color: #ffffff; color: #F85241;}

@media only screen and (max-width: 1024px){
  .merch_club .join_club{max-width: 40.332vw; left: 4.445vw;}
  .promos input[type="email"],
  .promos input[type="submit"]{font-size: 1.578vw;}
  .promos input[type="email"]{min-width: 23.13vw;}
  .promos input[type="submit"]{min-width: 9.613vw;}
}

@media only screen and (max-width: 768px){
  .merch_club .join_club{max-width: 47.332vw;}
  .promos input[type="email"],
  .promos input[type="submit"]{font-size: 2.578vw;}
  .promos input[type="email"]{min-width: 26.13vw;}
  .promos input[type="submit"]{min-width: 12.613vw;}
}

/*merchandise_sec3-end*/


@media only screen and (min-width: 691px) {
    .banner_bg_image .banner_bg_image_hero {
        height: calc(100vw * (500 / 1920)); min-height:500px; padding:0;
    }
}

@media only screen and (max-width: 690px) {
    .banner_bg_image .banner_bg_image_hero {
        height: calc(100vw * (250 / 690)); min-height:250px; padding:0;
    }
}