a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

/*banner-start*/

.home_banner{position: relative;}

.banner_bg_image{position: relative;}
.banner_bg_image .banner_bg_image_hero{padding-bottom: 40.41vw; position: relative;}
.banner_bg_image .banner_bg_image_hero img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0;}
.banner_bg_image:before{position: absolute; content: ""; background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); mix-blend-mode: multiply; opacity: 0.4; top: 0; left: 0; width: 100%; height: 65%; z-index: 1;}
.banner_bg_image:after{position: absolute; content: ""; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); mix-blend-mode: multiply; opacity: 0.67; bottom: 0; left: 0; width: 100%; height: 35%; z-index: 1;}
.banner_bg_image_text h1{color: #ffffff; letter-spacing: -0.020em;}
.banner_bg_image_text{position: absolute; z-index: 2; bottom: 8.053vw; left: 0; right: 0; text-align: center;}

.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: #ffffff; border-radius: 0.366vw; padding: 2.343vw 4.685vw; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); }
.search_row form{display: flex; gap:0.366vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.025vw; font-weight: 600; color: #020202; margin-bottom: 0.512vw; display: block;}
.search_row form .search_select select{border: solid 0.073vw #707070; outline: none; border-radius: 0.22vw; padding: 0.732vw 2.343vw; width: 100%;}
.search_row form .search_select.ss1 select{background: url(/images/front-pages/images/map.svg) center left 0.732vw no-repeat, url(/images/front-pages/images/down-arrow.svg) center right 0.732vw no-repeat; font-size: 1.171vw; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/front-pages/images/building.svg) center left 0.732vw no-repeat, url(/images/front-pages/images/down-arrow.svg) center right 0.732vw no-repeat; font-size: 1.171vw; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.171vw; font-weight: 800; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Raleway", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}

.home_section2 .home_slider2{position:relative;}


@media only screen and (max-width: 1024px){
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 53.906vw;}
  .banner_bg_image_text{bottom: 10.742vw;}
  .search_box .container{max-width: 90%;}
  .search_box_inner{padding: 3.343vw 4.685vw;}
  .search_row form .search_select label{font-size: 1.698vw;}
  .search_row form .search_select.ss1 select,
  .search_row form .search_select.ss2 select,
  .search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
  .search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 44.845vw;}  
}

@media only screen and (max-width: 768px){
  .search_box{bottom: -18vw;}
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 71.875vw;;}
  .banner_bg_image_text{top: 50%; transform: translateY(-50%); bottom: auto;}
  .search_row form{flex-direction: column; gap: 1.866vw;}
  .search_box .container{max-width: 90%;}
  .search_box_inner{padding: 3.343vw 4.685vw;}
  .search_row form > div{width: 100%;}
  .search_row form .search_select label{font-size: 2.698vw;}
  .search_row form .search_select.ss1 select,
  .search_row form .search_select.ss2 select,
  .search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
  .search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 100%;}
}

/*banner-end*/

/*adventures-detail-sec1-start*/

section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 8.788vw;}
section.home_section1.our_desti_sec1{ background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 18.302vw; }
.destination_overview_tab{max-width: 51.245vw; margin: 0 auto; padding-bottom: 6.223vw;}
ul.destination_tab{list-style: none; display: flex; flex-wrap: wrap; column-gap: 4.539vw; grid-row-gap: 1.757vw; justify-content: center; border-bottom: solid 0.0365vw #707070;}
ul.destination_tab li a{font-size: 1.171vw; font-weight: 600; text-transform: uppercase; color: #1F1F1F; position: relative; display: block; line-height: 3;}
ul.destination_tab li a:before{position: absolute; content: ""; width: 0%; height: 0.439vw; background-color: #F85241; left: 0; bottom: 0; transition: 0.3s ease-in-out;}
ul.destination_tab li.active a:before,
ul.destination_tab li a:hover:before{width: 100%;}
ul.destination_tab li.active a{text-decoration: none;}

.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 3.333vw;}
.adventure_right_text .advanture_text1 h3{font-size: 2.489vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 1.098vw 0 1.196vw;}
.adventure_right_text .advanture_text2 h2{font-size: 5.857vw; color:#1F1F1F; line-height: 5.124vw;}
.adventure_right_text .advanture_text2 img{margin-right: 4.1vw; width: 6.223vw; height: 7.467vw;}
.adventure_right_text p span{font-weight: 800;}

.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}
.our_desti_sec1 .head_text_center{max-width: 60.615vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.611vw;}
.our_desti_sec1 .head_text_center p{max-width: 53.514vw; margin: 0 auto; padding-bottom: 1.611vw;}

@media only screen and (max-width: 1024px){
  ul.destination_tab{column-gap: 3.539vw;}
  ul.destination_tab li a{font-size: 1.771vw;}
  .our_desti_sec1 .head_text_center{max-width: 100%;}
  .our_desti_sec1 .head_text_center p{max-width: 100%;}
  .adventure_right_text .advanture_text1 a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
  .adventure_right_text .advanture_text1 a svg{width: 2.318vw; height: 2.018vw;}
}

@media only screen and (max-width: 768px){
  section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 25.788vw;}
  .destination_overview_tab{max-width: 90%;}
  ul.destination_tab li a{font-size: 2.971vw;}
  .destination_overview_tab{padding-bottom: 9.223vw;}
  .adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
  .adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}
}

section.home_section1.our_desti_sec1.destination_overview_sec1.adv_details_sec1{padding-bottom: 4.832vw;}
section.home_section1.our_desti_sec1.destination_overview_sec1.adv_details_sec1 .container{max-width: 100%;}
.adv_details_sec1.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: flex-start; column-gap: 1.633vw;}
.adv_details_sec1.our_desti_sec1 .adventure_right_text .advanture_text1 h2{font-size: 3.66vw; letter-spacing: 0;}
.biking_row{display: flex; flex-wrap: wrap; padding-top: 1.757vw;}
.biking_row .biking_left{width: 59%; padding-right: 3.514vw; box-sizing: border-box; border-right: solid 0.073vw #707070;}
.biking_row .biking_left p{letter-spacing: -0.010em;}
.biking_row .biking_right{width: 41%; padding-left: 3.514vw;}
.biking_right .network_travel_profile img{width: 6.589vw; height: 6.589vw;}
.biking_right .network_travel_profile_info_inner{display: flex;column-gap: 0.878vw;align-items: flex-end;}
.biking_right .network_travel_profile{gap:1.464vw; padding-bottom: 1.171vw;}

.spots_main{display: flex; flex-direction: column; grid-row-gap: 3.514vw; padding-top: 2.196vw;}
.spots_row{display: flex; flex-wrap: wrap; gap:3.514vw; align-items: center;}
.spots_row .spots_small{width: calc(35% - 1.757vw);}
.spots_row .spots_big{width: calc(65% - 1.757vw);}
.spots_row .spots_big h3{padding-bottom: 0.732vw;}
.spots_row .spots_big h3 span{color: #F85241;}


@media only screen and (max-width: 1024px){
  .adv_details_sec1.our_desti_sec1 .adventure_right_text .advanture_text1 h2{font-size: 4.66vw;}
}

@media only screen and (max-width: 768px){
  .adv_details_sec1.our_desti_sec1 .adventure_right_text .advanture_text1 h2{font-size: 5.96vw;}
  .biking_row{padding-top: 4.757vw; gap:5.343vw;}
  .biking_row .biking_left{width: 100%; padding-right: 0; border-right: 0;}
  .biking_row .biking_right{width: 100%; padding-left: 0;}
  .biking_right .network_travel_profile img{width: 8.589vw; height: 8.589vw;}
  .spots_main{padding-top: 5.196vw; grid-row-gap: 5.514vw;}
  .spots_row{gap:4.514vw;}
  .spots_row .spots_small{width: 100%;}
  .spots_row .spots_big{width: 100%;}
  .spots_row.rivers_row .spots_big{order: 1;}
  .spots_row.rivers_row .spots_small{order: 0;}
}


/*adventures-detail-sec1-end*/

/*adventures-detail-sec2-start*/

.our_desti_sec2{margin-top: -10.981vw;}
.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.464vw; grid-row-gap: 1.464vw;}
.feature_desti_row .network_travel_img_text p{font-size: 1.025vw; color: #ffffff; line-height: 1.025vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 1.318vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.464vw; grid-row-gap: 1.464vw;}
.feature_desti_row .network_travel_img_text p{font-size: 1.025vw; color: #ffffff; line-height: 1.025vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 1.318vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 38.36vw; position: relative;}
.network_travel_box .network_travel_top .network_travel_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16);}
.network_travel_box .network_travel_top{position: relative;}
.network_travel_box .network_travel_top:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.24; mix-blend-mode: multiply; width: 100%; height: 100%; bottom: 0; left: 0; right: 0; z-index: 1;}


.network_travel_top .network_travel_img_text{text-align: center; position: absolute; bottom: 3.148vw; left: 0; right: 0; margin: 0 auto; width: 80%; z-index: 2;}
.network_travel_top .network_travel_img_text h3{font-size: 2.928vw; color: #ffffff;}
.network_travel_top .network_travel_img_text .btn a{font-size: 1.171vw;  border-radius: 0.0365vw; font-weight: 800; border: solid 0.0365vw #ffffff; background-color: transparent; padding: 0.732vw 1.537vw; text-decoration: none;}
.network_travel_top .network_travel_img_text .btn a:hover{background-color: #ffffff; color: #F85241;}

.network_travel_bottom{padding-top: 2.343vw;}
.network_travel_profile{display: flex; align-items: center; gap:0.878vw;}
.network_travel_profile img{width: 4.392vw; height: 4.392vw; border-radius: 100%;}
.network_travel_profile .adv_post_top_right{display: flex; flex-wrap: wrap; align-items: center; column-gap:0.878vw; line-height: 1;}
.network_travel_profile .adv_post_top_right .adv_trailblazer{width: 100%;}
.network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 0.878vw; font-weight: 700; text-transform: uppercase;}
.network_travel_profile_info h4{font-size: 1.903vw; font-family: "Bebas Neue", sans-serif; letter-spacing: -0.015em; line-height: 1;}
.network_travel_profile_info span{font-size: 1.025vw; color: #1F1F1F; font-weight: 500; font-style: italic; line-height: 1;}
.network_travel_follow a{font-size: 1.025vw; letter-spacing: -0.015em; font-weight: 700; color: #EA5647; text-transform: uppercase;font-family: "Montserrat", sans-serif;}
.network_travel_follow a:hover{text-decoration: underline;}
.network_travel_follow{display: flex; align-items: center; column-gap: 0.878vw;}
.network_travel_follow span{font-size: 1.025vw; letter-spacing: -0.015em; font-weight: 700; color: #1F1F1F; text-transform: uppercase;font-family: "Montserrat", sans-serif;}
.network_travel_text p{padding: 0.878vw 0; font-size: 1.171vw; line-height: 1.611vw;}
.network_travel_likes{display: flex; flex-wrap: wrap; gap:1.171vw;}
.network_travel_likes span{font-size: 1.025vw; font-weight: 500; color: #1F1F1F; font-family: "Montserrat", sans-serif;}
.network_travel_likes ul{list-style: none; display: flex; gap:1.171vw;}
.network_travel_likes ul li a svg:hover path{fill: #EA5647;}
.network_travel_likes ul li a svg{width: 1.098vw; height: 1.025vw;}

@media only screen and (max-width: 1024px){
  .network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 1.678vw;}
  .network_travel_profile .adv_post_top_right{line-height: 1.1;}
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 4.94vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}

  .feature_desti_row{column-gap: 1.758vw; grid-row-gap: 1.758vw; grid-template-columns: repeat(2, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 2.025vw; line-height: 1.3;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 2.318vw;}

  .network_travel_bottom{padding-top: 4.343vw;}

  .network_travel_profile img{width: 5.859vw; height: 5.859vw; border-radius: 100%;}
  .network_travel_profile_info h4{font-size: 2.903vw;}
  .network_travel_profile_info span,
  .network_travel_follow a{font-size: 1.825vw;}
  .network_travel_text p{font-size: 1.871vw; line-height: 1.2; padding: 1.878vw 0;}
  .network_travel_likes span{font-size: 1.825vw;}
  .network_travel_likes ul li a svg{width: 2.098vw; height: 1.525vw;}
}

@media only screen and (max-width: 768px){
  .network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 2.678vw;}
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 6.294vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 3.225vw; padding: 2.232vw 5.025vw;}

  .feature_desti_row{grid-row-gap: 8.333vw; grid-template-columns: repeat(1, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 3.325vw;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 3.218vw;}
  .network_travel_top .network_travel_img_text{bottom: 6.148vw;}
  .network_travel_top .network_travel_img_text{width: 90%;}

  .network_travel_profile img{width: 7.859vw; height: 7.859vw; border-radius: 100%;}
  .network_travel_profile_info h4{font-size: 3.903vw;}
  .network_travel_profile_info span,
  .network_travel_follow a{font-size: 2.825vw;}
  .network_travel_text p{font-size: 2.871vw; line-height: 1.2;}
  .network_travel_likes span{font-size: 2.825vw;}
  .network_travel_likes ul li a svg{width: 3.098vw; height: 2.525vw;}

}

/*adventures-detail-sec2-end*/