/*banner-start*/

.ambassadorship_banner{min-height: 30.381vw;}

.cta_section{background: #F85241; position: relative;}
.cta_section:before{position: absolute; content: ""; background: url(/images/front-pages/images/tan-background.png) center no-repeat; background-size: 100% 100%; top: 0; left: 0; width: 100%; height: 100%; mix-blend-mode: multiply;}


@media only screen and (max-width: 768px){
  .ambassadorship_banner{min-height: 40.381vw;}  
}

/*banner-end*/

/*ambassadorship_sec1-start*/

.ambassadorship_sec1{background: url(/images/sub-pages/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none;}
.ambassadorship_img{position: relative; margin-top: -14vw;}
.amb_sec1_inner{text-align: center; margin-top: -15vw; max-width: 58.199vw; margin-left: auto; margin-right: auto; position: relative; z-index: 1;}
.ambassador_video{padding-top: 1.464vw;}
.ambassador_video iframe{border-radius: 0.586vw;}


@media only screen and (max-width: 1024px){
  .amb_sec1_inner{max-width: 100%;}
  
}

@media only screen and (max-width: 768px){
  
}

/*ambassadorship_sec1-end*/

/*ambassadorship_sec2-start*/

.network_travel_profile .adv_post_top_right{display: flex; flex-wrap: wrap; align-items: center; column-gap:0.878vw; line-height: 1;}
.network_travel_profile .adv_post_top_right .adv_trailblazer{width: 100%;}
.network_travel_profile .adv_post_top_right .adv_trailblazer span{font-size: 0.878vw; font-weight: 700; text-transform: uppercase;}

.biking_row{display: flex; flex-wrap: wrap; padding-top: 1.757vw;}
.biking_row .biking_left{width: 59%; padding-right: 3.514vw; box-sizing: border-box; border-right: solid 0.073vw #707070;}
.biking_row .biking_left p{letter-spacing: -0.010em;}
.biking_row .biking_right{width: 41%; padding-left: 3.514vw;}
.biking_right .network_travel_profile img{width: 6.589vw; height: 6.589vw;}
.biking_right .network_travel_profile_info_inner{display: flex;column-gap: 0.878vw;align-items: flex-end;}
.biking_right .network_travel_profile{gap:1.464vw; padding-bottom: 1.171vw;}

.network_travel_profile{display: flex; align-items: center; gap:0.878vw;}
.network_travel_profile img{width: 4.392vw; height: 4.392vw; border-radius: 100%;}
.network_travel_profile_info h4{font-size: 1.903vw; font-family: "Bebas Neue", sans-serif; letter-spacing: -0.015em; line-height: 1;}
.network_travel_profile_info span{font-size: 1.025vw; color: #1F1F1F; font-weight: 500; font-style: italic; line-height: 1;}
.network_travel_follow a{font-size: 1.025vw; letter-spacing: -0.015em; font-weight: 700; color: #EA5647; text-transform: uppercase;font-family: "Montserrat", sans-serif;}
.network_travel_follow{display: flex; align-items: center; column-gap: 0.878vw;}
.network_travel_follow span{font-size: 1.025vw; letter-spacing: -0.015em; font-weight: 700; color: #1F1F1F; text-transform: uppercase;font-family: "Montserrat", sans-serif;}

.network_travel_likes{display: flex; flex-wrap: wrap; gap:1.171vw;}
.network_travel_likes span{font-size: 1.025vw; font-weight: 500; color: #1F1F1F; font-family: "Montserrat", sans-serif;}
.network_travel_likes ul{list-style: none; display: flex; gap:1.171vw;}
.network_travel_likes ul li a svg:hover path{fill: #EA5647;}
.network_travel_likes ul li a svg{width: 1.098vw; height: 1.025vw;}

.ambassadorship_sec2 span.next_post{font-size: 1.757vw;}
.ambassadorship_sec2 .ambassadorship_sec2_inner{max-width: 71.376vw; margin: 0 auto;}
.ambassadorship_sec2 .biking_row .biking_left{width: 55%;}
.ambassadorship_sec2 .biking_row .biking_right{width: 45%;}

@media only screen and (max-width: 1024px){
  .ambassadorship_sec2 .ambassadorship_sec2_inner{max-width: 100%;}

  .network_travel_likes span{font-size: 1.825vw;}
  .network_travel_likes ul li a svg{width: 2.098vw; height: 1.525vw;}

  .network_travel_profile{gap: 2.878vw;}

  .network_travel_profile img{width: 5.859vw; height: 5.859vw; border-radius: 100%;}
  .network_travel_profile_info h4{font-size: 2.903vw;}
  .network_travel_profile_info span,
  .network_travel_follow a{font-size: 1.825vw;}

  .network_travel_profile .adv_post_top_right{ line-height: 1.1 }
}

@media only screen and (max-width: 768px){
  .biking_row{padding-top: 4.757vw; gap:5.343vw;}
  .biking_row .biking_left{width: 100%; padding-right: 0; border-right: 0;}
  .biking_row .biking_right{width: 100%; padding-left: 0;}
  .biking_right .network_travel_profile img{width: 8.589vw; height: 8.589vw;}

  .network_travel_profile img{width: 7.859vw; height: 7.859vw; border-radius: 100%;}
  .network_travel_profile_info h4{font-size: 3.903vw;}
  .network_travel_profile_info span,
  .network_travel_follow a{font-size: 2.825vw;}

  .ambassadorship_sec2 .biking_row .biking_left,
  .ambassadorship_sec2 .biking_row .biking_right{width: 100%;}
  .ambassadorship_sec2 span.next_post{font-size: 3.557vw;} 

  .network_travel_likes span{font-size: 2.825vw;}
  .network_travel_likes ul li a svg{width: 3.098vw; height: 2.525vw;}
}

/*ambassadorship_sec2-end*/

/*ambassadorship_sec3-start*/

.ambassadorship_sec3{position: relative;}
.ambassadorship_sec3:before{position: absolute; content: ""; background: linear-gradient(180deg,rgba(255, 255, 255, 1) 10%, rgba(227, 227, 227, 1) 90%); bottom: 0; left: 0; right: 0; width: 100%; height: 60%; z-index: -1;}
.ambassadorship_sec3 .ambassadorship_sec3_inner{max-width: 66.984vw; margin: 0 auto;}
.signup_box{padding: 3.66vw; background-color: #ffffff;}
.signup_box h4{font-size: 1.903vw; text-transform: uppercase; text-align: center; padding-bottom: 2.928vw; color: #000000; font-family: "Raleway", sans-serif; font-weight: 800;}
.signup_box .input_row{display: flex; flex-wrap: wrap; gap:1.098vw;}
.signup_box .input_row .input_full_box{width: 100%;}
.signup_box .input_row .input_full_box:not(.checkbox_label) label{display: block; width: 100%; display: none;}
.signup_box .input_row .input_full_box input:not([type="checkbox"], [type="submit"]){width: 100%; min-height: 4.319vw; padding: 1.464vw; background-color: #F4F8F7; border-radius: 0.293vw; font-size: 1.025vw; font-family: "Raleway", sans-serif; font-weight: 400; color: #868686; border: none; outline: none;}

.signup_box .input_row .input_full_box.pass_ref{padding-top: 1.464vw;}
.signup_box .input_row .input_full_box.pass_ref span{font-size: 0.952vw; font-family: "Raleway", sans-serif; font-weight: 400; color: #868686; text-align: center; display: block; line-height: 1.4;}
.signup_box .input_row .input_full_box input[type="password"]{padding-left: 2.928vw; background: #F4F8F7 url(/images/sub-pages/lock.svg) center left 1.464vw no-repeat; background-size: 0.878vw 0.878vw;}
.signup_box .input_row .input_full_box.checkbox_label{padding-top: 1.464vw; position: relative;}
.signup_box .input_row .input_full_box.checkbox_label input{padding: 0; margin-bottom: 0; -webkit-appearance: auto; cursor: pointer; left: 0; right: 0; height: 1.464vw; z-index: 1; opacity: 0; bottom: 0; position: absolute;}
.signup_box .input_row .input_full_box.checkbox_label label {position: relative;cursor: pointer; font-size: 1.025vw; font-family: "Raleway", sans-serif; font-weight: 400; color: #868686; display: flex; align-items: center; line-height: 1.4;}

.signup_box .input_row .input_full_box.checkbox_label label:before { content:''; -webkit-appearance: none; background-color: transparent; border: 0.146vw solid #868686; width: 1.171vw; height: 1.171vw; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; margin-right: 0.586vw; top: -0.146vw;}
.signup_box .input_row .input_full_box.checkbox_label input:checked + label:after { content: ''; display: block; position: absolute; top: 0.04vw; left: 0.459vw; width: 0.39vw; height: 0.825vw; border: solid #127AC3; border-width: 0 0.146vw 0.146vw 0; transform: rotate(45deg);}
.signup_box .input_row .input_full_box.checkbox_label a{color: #127AC3; position: relative; z-index: 2;}
.signup_box .input_row .input_full_box.checkbox_label a:hover{color: #F85241;}
.signup_box .input_row .input_full_box.submit_btn{padding-top: 1.83vw; text-align: center;}
.signup_box .input_row input[type="submit"],
.signup_box .input_row .input_full_box a.back_btn{background-color: #F85241; font-size: 1.025vw; font-family: "Raleway", sans-serif; color: #ffffff; text-align: center; display: inline-block; line-height: 1; text-transform: uppercase; border-radius: 3.66vw; font-weight: 600; padding: 1.098vw 3.66vw; border: none; outline: none; cursor: pointer; transition: 0.3s ease-in-out; letter-spacing: 0.10em;}
.signup_box .input_row .input_full_box a.back_btn{background-color: #F4F8F7; color: #868686;}
.signup_box .input_row .input_full_box a.back_btn:hover{background: rgb(31, 31, 31, 0.8); color: #ffffff;}
.signup_box .input_row input[type="submit"]:hover{background: rgb(31, 31, 31, 0.8);}
.signup_box .input_row .input_full_box.checkbox_label label a.forgot_pass{margin-left: auto;}
.signup_box .input_row .input_full_box a{color: #127AC3; position: relative; z-index: 2;}
.signup_box .input_row .input_full_box a:hover{color: #F85241;}
.signup_box .input_row .input_full_box.email input[type="email"]{padding-left: 2.928vw; background: #F4F8F7 url(/images/sub-pages/email.svg) center left 1.464vw no-repeat; background-size: 1.025vw 0.805vw;}
.grid_box .signup_box.account_box{margin-top: 1.464vw;}
.signup_box .input_row .input_full_box.pass_ref.recovery{padding-top: 0;}
.signup_box .btnset{display: flex; justify-content: space-between; flex-wrap: wrap; padding-top: 1.098vw;}
.signup_box .input_row .btnset .submit_btn{padding-top: 0;}
.signup_box.sign_in .input_row .input_full_box.submit_btn{padding-top: 0.732vw;}
.signup_box.sign_in{padding-bottom: 2.296vw;}
.signup_box.account_box h4{padding-bottom: 2.196vw;}


@media only screen and (max-width: 1024px){
  .ambassadorship_sec3 .ambassadorship_sec3_inner{max-width: 100%;}
  .signup_box h4{font-size: 2.903vw;}
  .signup_box .input_row .input_full_box input:not([type="checkbox"], [type="submit"]){font-size: 1.825vw;}
  .signup_box .input_row .input_full_box.pass_ref span{font-size: 1.452vw;}
  .signup_box .input_row .input_full_box input[type="password"]{background-size: 1.878vw 1.878vw; padding-left: 3.928vw;}
  .signup_box .input_row .input_full_box.checkbox_label label{font-size: 1.452vw;}
  .signup_box .input_row input[type="submit"], .signup_box .input_row .input_full_box a.back_btn{font-size: 1.825vw;}
  .signup_box .input_row .input_full_box.email input[type="email"]{padding-left: 3.928vw; background-size: 2.025vw 1.805vw;}
}

@media only screen and (max-width: 768px){
  .signup_box .input_row{gap: 2.098vw;}
  .signup_box h4{font-size: 4.903vw;}
  .signup_box .input_row .input_full_box input:not([type="checkbox"], [type="submit"]){font-size: 3.325vw; padding: 2.464vw;}
  .signup_box .input_row .input_full_box.pass_ref span{font-size: 3.052vw;}
  .signup_box .input_row .input_full_box input[type="password"]{background-size: 2.878vw 2.878vw; padding-left: 5.928vw;}
  .signup_box .input_row .input_full_box.checkbox_label label{font-size: 3.052vw;}
  .signup_box .input_row input[type="submit"], .signup_box .input_row .input_full_box a.back_btn{font-size: 3.325vw; padding: 2.598vw 5.66vw; border-radius: 7.66vw;}
  .signup_box .input_row .input_full_box.email input[type="email"]{padding-left: 5.928vw; background-size: 3.025vw 2.805vw;}
  .signup_box .input_row .input_full_box.checkbox_label label:before{width: 3.171vw; height: 3.171vw;}
  .signup_box .input_row .input_full_box.checkbox_label input{height: 3.464vw;}
  .signup_box .input_row .input_full_box.checkbox_label input:checked + label:after{top: 0.4vw; left: 0.859vw; width: 1.09vw; height: 1.825vw;}
  .ambassadorship_sec3:before{height: 80%;}
  .grid_box .signup_box.account_box{margin-top: 3.125vw;}
}

/*ambassadorship_sec3-end*/