a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

.feature_resort_row{display: grid; grid-template-columns: repeat(3, 1fr); gap:1.771vw;}
.feature_resort_row .network_travel_top .network_travel_img_text{text-align: left;}
.feature_resort_row .network_travel_box .network_travel_top:before{opacity: 0.83; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 70%;}
.feature_resort_row .network_travel_img_text span{font-size: 0.573vw; color: #ffffff; display: block; padding-bottom: 0.521vw; line-height: 0.729vw;}
.feature_resort_row .network_travel_img_text h4{font-size: 1.042vw; color: #ffffff;}
.feature_resort_row .network_travel_img_text p{font-size: 0.573vw; color: #ffffff; line-height: 0.729vw; padding-top: 0.741vw;}
.feature_resort_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 0.781vw; font-weight: 400;}

.network_travel_top .network_travel_img_text{text-align: center; position: absolute; bottom: 3.148vw; left: 0; right: 0; margin: 0 auto; width: 80%; z-index: 2;}
.network_travel_top .network_travel_img_text h3{font-size: 2.083vw; color: #ffffff;}
.network_travel_top .network_travel_img_text .btn a{font-size: 0.833vw;  border-radius: 0.0365vw; font-weight: 800; border: solid 0.0365vw #ffffff; background-color: transparent; padding: 0.732vw 1.537vw; text-decoration: none;}
.network_travel_top .network_travel_img_text .btn a:hover{background-color: #ffffff; color: #F85241;}

.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 27.292vw; position: relative; overflow: hidden;}
.network_travel_box .network_travel_top .network_travel_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16); transition: 0.3s ease-in-out;}
.network_travel_box .network_travel_top{position: relative;}
.network_travel_box .network_travel_top:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.24; mix-blend-mode: multiply; width: 100%; height: 100%; bottom: 0; left: 0; right: 0; z-index: 1;}

.destination_resort_sec2 .feature_resort_row{grid-template-columns: repeat(4, 1fr);}
.destination_resort_sec2 .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 19.584vw;}

.our_desti_sec2{margin-top: -7.813vw;}


@media only screen and (max-width: 1024px){
  .feature_resort_row .network_travel_img_text span{font-size: 1.071vw; line-height: 1.3;}
.feature_resort_row .network_travel_img_text h4{font-size: 1.753vw;}
.feature_resort_row .network_travel_img_text p{font-size: 1.071vw; line-height: 1.3;}
.feature_resort_row .network_travel_top .network_travel_img_text .btn a{font-size: 1.493vw;}

  .network_travel_top .network_travel_img_text h3{font-size: 4.94vw;}
.network_travel_top .network_travel_img_text .btn a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}

  .destination_resort_sec2 .feature_resort_row{grid-template-columns: repeat(2, 1fr);}
  .destination_resort_sec2 .network_travel_box .network_travel_top .network_travel_img,
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 100%;}
}

@media only screen and (max-width: 768px){
  .feature_resort_row .network_travel_img_text span{font-size: 1.782vw; line-height: 1.3;}
.feature_resort_row .network_travel_img_text h4{font-size: 3.176vw;}
.feature_resort_row .network_travel_img_text p{font-size: 1.924vw; line-height: 1.3;}
.feature_resort_row .network_travel_top .network_travel_img_text .btn a{font-size: 2.832vw;}
  .feature_resort_row{grid-template-columns: repeat(1, 1fr); grid-row-gap: 5.929vw;}
  .feature_resort_row .network_travel_top .network_travel_img_text{bottom: 4.374vw;}

  .network_travel_top .network_travel_img_text h3{font-size: 6.294vw;}
.network_travel_top .network_travel_img_text .btn a{font-size: 3.225vw; padding: 2.232vw 5.025vw;}
.network_travel_top .network_travel_img_text{bottom: 4.374vw;}
.network_travel_top .network_travel_img_text{width: 90%;}
  .destination_resort_sec2 .feature_resort_row{grid-template-columns: repeat(1, 1fr);}
}


@media only screen and (max-width: 575px){
  .feature_resort_row .network_travel_img_text span{font-size: 2.782vw; line-height: 1.3;}
  .feature_resort_row .network_travel_img_text h4{font-size: 5.176vw;}
  .feature_resort_row .network_travel_img_text p{font-size: 3.579vw; line-height: 1.3; padding-bottom: 2.521vw;}
  .feature_resort_row .network_travel_top .network_travel_img_text .btn a{font-size: 3.437vw; padding: 2.375vw 3.508vw;}
}
