a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

/*banner-end*/

/*resort-overview-sec1-start*/

section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 12.869vw;}
section.home_section1.our_desti_sec1{ background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 13.021vw; }
.destination_overview_tab{max-width: 36.459vw; margin: 0 auto; padding-bottom: 4.427vw;}
ul.destination_tab{list-style: none; display: flex; flex-wrap: wrap; column-gap: 3.229vw; grid-row-gap: 1.250vw; justify-content: center; border-bottom: solid 0.026vw #707070;}
ul.destination_tab li a{font-size: 0.833vw; font-weight: 600; text-transform: uppercase; color: #1F1F1F; position: relative; display: block; line-height: 3;}
ul.destination_tab li a:before{position: absolute; content: ""; width: 0%; height: 0.312vw; background-color: #F85241; left: 0; bottom: 0; transition: 0.3s ease-in-out;}
ul.destination_tab li.active a:before,
ul.destination_tab li a:hover:before{width: 100%;}
ul.destination_tab li.active a{text-decoration: none;}

.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 3.333vw;}
.bamboo_boat{position: relative;}
.bamboo_boat:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.67; mix-blend-mode: multiply; width: 100%; height: 30%; bottom: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.58);}
.location_name.bamboo_boat_loc{position: absolute; bottom: 2.928vw; right: 2.928vw; z-index: 1;}
.adventure_right_text .advanture_text1 h3{font-size: 1.771vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 1.098vw 0 1.196vw;}
.adventure_right_text .advanture_text2 h2{font-size: 4.167vw; color:#1F1F1F; line-height: 3.646vw;}
.adventure_right_text .advanture_text2 img{margin-right: 2.1vw; width: 5vw; height: 6.042vw;}
.adventure_right_text p span{font-weight: 800;}

.our_desti_sec1 .head_text_center{max-width: 43.125vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.146vw;}
.our_desti_sec1 .head_text_center p{max-width: 38.073vw; margin: 0 auto; padding-bottom: 1.146vw;}
.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}

@media only screen and (max-width: 1024px){
ul.destination_tab{column-gap: 2.518vw;}
ul.destination_tab li a{font-size: 1.260vw;}
.our_desti_sec1 .head_text_center{max-width: 100%;}
.our_desti_sec1 .head_text_center p{max-width: 100%;}
.adventure_right_text .advanture_text1 a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 2.318vw; height: 2.018vw;}

}

@media only screen and (max-width: 768px){
section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 22.616vw;}
.destination_overview_tab{max-width: 90%;}
ul.destination_tab li a{font-size: 2.114vw;}
.destination_overview_tab{padding-bottom: 6.562vw;}
.adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}

}


section.home_section1.our_desti_sec1.jade_jungle_sec1{padding-top: 14.240vw; padding-bottom: 4.938vw;}
.our_desti_sec1.jade_jungle_sec1 .head_text_center{max-width: 41.667vw;}
.our_desti_sec1.jade_jungle_sec1 .head_text_center h3{font-family: "Raleway", sans-serif; font-size: 1.563vw; font-weight: 700; font-style: italic; line-height: 1.3; letter-spacing: -0.015em; text-transform: none;}
.our_desti_sec1.jade_jungle_sec1 .adventure_right_text .advanture_text1{padding: 1.667vw 0;}

@media only screen and (max-width: 1024px){
  .our_desti_sec1 .destination_overview_tab,
  .our_desti_sec1.jade_jungle_sec1 .head_text_center{max-width: 90%;}

}

@media only screen and (max-width: 768px){
  section.home_section1.our_desti_sec1.jade_jungle_sec1{padding-top: 22.938vw;}
  .our_desti_sec1.jade_jungle_sec1 .head_text_center h3{font-size: 2.963vw;}
  .our_desti_sec1.jade_jungle_sec1 .adventure_right_text .advanture_text1{padding: 3.667vw 0;}

}

/*resort-overview-sec2-start*/

.jade_jungle_sec2 h2{padding-bottom: 0.833vw;}
.property_info_box .property_info_inner .property_info_img{position: relative; padding-bottom: 77%;}
.property_info_box .property_info_inner .property_info_img img{position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-radius: 0.469vw;}
.property_info_box .property_info_inner .property_info_text{padding-top: 1.042vw;}
.property_info_box .property_info_inner .property_info_text h3{padding-bottom: 0.433vw;}
.property_info_box .property_info_inner .property_info_text p{max-width: 75%; margin: 0 auto;}

@media only screen and (max-width: 1024px){
  .property_info_box .property_info_inner .property_info_text p{max-width: 100%;}
}

@media only screen and (max-width: 768px){
  .jade_jungle_sec2 .gap_16{gap: 5.482vw;}
  .property_info_box .property_info_inner .property_info_text{padding-top: 3.042vw;}
}


/*resort-overview-sec4-start*/

.jade_jungle_sec3_row{display: flex; flex-wrap: wrap; row-gap: 3.333vw; padding-bottom: 3.646vw;}
.jade_jungle_sec3_row .jungle_map_box{width: 45%; box-sizing: border-box;}
.jade_jungle_sec3_row .jungle_facilities_box{width: 55%; box-sizing: border-box; padding-left: 3.333vw; display: flex; flex-direction: column; grid-row-gap: 3.333vw;}
.reservations_info_box .reservations_info_inner{padding: 1.667vw 0; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); border: solid 0.052vw #D1D1D1; background-color: #F7F7F7; height: 100%; text-align: center;}
.reservations_info_box .reservations_info_inner span{font-size: 1.094vw; font-weight: 800; color: #000000; display: block; padding-bottom: 0.416vw;}
.reservations_info_box .reservations_info_inner p{padding-bottom: 0; color: #000000; padding-bottom: 0.416vw;}
.reservations_info_box .reservations_info_inner a{font-weight: 700; color: #000000; font-style: italic;}

@media only screen and (max-width: 1024px){
  .jade_jungle_sec3{padding-top: 3vw;}
  .reservations_info_box .reservations_info_inner span{font-size: 2.094vw;}

}

@media only screen and (max-width: 768px){
  .jade_jungle_sec3_row .jungle_map_box{width: 100%;}
  .jade_jungle_sec3_row .jungle_facilities_box{width: 100%; padding-left: 0; padding-top: 3.369vw;}
  .reservations_info_box .reservations_info_inner span{font-size: 3.094vw;}

}

/*resort-overview-sec5-start*/

.jade_jungle_sec4 h2{padding-bottom: 0.833vw;}
.activities_adventures .property_info_box .property_info_inner .property_info_text p{max-width: 100%;}
.activities_adventures .property_info_box .property_info_inner{padding-bottom: 1.258vw; position: relative; height: 100%;}
.activities_read_more_btn{font-weight: 500; color: #237B81; text-transform: uppercase; position: absolute; left: 0; bottom: 0; display: flex; align-items: center; gap: 0.833vw;}
.activities_read_more_btn:hover{color: #EA5647;}
.activities_read_more_btn:hover svg path{fill: #EA5647;}
.activities_adventures .property_info_box{height: 100%;}


@media only screen and (max-width: 768px){
  .activities_adventures .property_info_box .property_info_inner{padding-bottom: 4.258vw;}
}



section.home_section2{position: relative;}
.adventure_post{position: relative;}
.home_section2 .slick-dotted.slick-slider{margin-bottom: 0;}
.home_slider2 .slick-list{padding: 0 12.811vw !important;}
.home_slider2 .slick-list,
.home_slider2 .slick-list .slick-track{display: flex;}
.home_slider2 .slick-list .slick-slide{padding: 0 0.732vw 2.196vw;}
.home_slider2 .resort_box{position: relative;}
.home_slider2 .resort_box .resort_img{position: relative; padding-bottom: 46.12vw;}
.home_slider2 .slick-slide:not(.slick-active) .resort_box .resort_img:before{position: absolute; content: ""; background-color: #1F1F1F; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; opacity: 0.53;}
.home_slider2 .resort_box .resort_img img{position: absolute; width: 100%;height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16); display: block;}
.home_slider2 .resort_box:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.55; mix-blend-mode: multiply; width: 100%; height: 50%; bottom: 0; left: 0; right: 0; z-index: 1;}

.home_slider2 .slick-dots{display: flex; justify-content: center; bottom: -3vw; gap:0.5vw; }
.home_slider2 .slick-dots li{width: auto; height: auto; margin: 0; padding: 0;}
.home_slider2 .slick-dots li button{width: 1.245vw; height: 1.245vw; border-radius: 5.208vw; background-color: #ffffff; border: solid 0.0365vw #131313; padding: 0;}
.home_slider2 .slick-dots li.slick-active button{border-color: #EA5647; background-color: #EA5647;}
.home_slider2 .slick-dots li button:before{display: none;}
.home_slider2 .slick-dotted.slick-slider{margin-bottom: 0;}

@media only screen and (max-width: 1024px){
.home_slider2 .resort_box .resort_img{padding-bottom: 56.12vw;}
.home_slider2 .slick-dots li button{width: 2.245vw; height: 2.245vw;}
.home_slider2 .slick-dots{gap: 1.5vw; bottom: -6vw;}

}

@media only screen and (max-width: 768px){
.home_slider2 .resort_box .resort_img{padding-bottom: 100%;}
.home_slider2 .slick-dots li button{width: 3.245vw; height: 3.245vw;}
.home_slider2 .slick-dots{gap: 2.5vw;}

}