a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

/*banner-start*/

.home_banner{position: relative;}

.banner_bg_image{position: relative;}
.banner_bg_image .banner_bg_image_hero{padding-bottom: 28.750vw; position: relative;}
.banner_bg_image .banner_bg_image_hero img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0;}

.home_section2 .home_slider2{position:relative;}


@media only screen and (max-width: 1024px){
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 38.352vw;}
  .banner_bg_image_text{bottom: 7.642vw;}
}

@media only screen and (max-width: 768px){
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 51.136vw;;}
}

/*banner-end*/

/*contact-sec1-start*/

.ambassadorship_sec1{background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none;}
.ambassadorship_img{position: relative; margin-top: -9.960vw;}
.amb_sec1_inner{text-align: center; margin-top: -10.672vw; max-width: 41.406vw; margin-left: auto; margin-right: auto; position: relative; z-index: 1;}
.ambassador_video{padding-top: 1.042vw;}
.ambassador_video iframe{border-radius: 0.417vw;}

.contact_sec1{padding-bottom: 19.271vw;}
.contact_container{max-width: 51.308vw; margin: 0 auto;}
.contact_left h3{font-size: 1.562vw; color: #F85241; letter-spacing: 0.138em;} 
.contact_left h2{font-size: 4.9vw; line-height: 1;} 
.contact_left p{font-size: 1.042vw; font-style: italic; font-weight: 700; line-height: 1.5;}
.contact_right{padding-left: 4.269vw; position: relative;}
.contact_right:before{position: absolute; content: ""; background-color: #707070; height: 100%; width: 0.052vw; left: 1.423vw;} 


@media only screen and (max-width: 1024px){
  .amb_sec1_inner{max-width: 100%;}
  .contact_container{max-width: 100%;}
  .contact_right:before{left: 0;}
  .contact_left h3{font-size: 2.274vw;}
  .contact_left h2{font-size: 5.712vw;}
  .contact_left p{font-size: 1.397vw;}
  
}

@media only screen and (max-width: 768px){
  .contact_right{padding-left: 0;}
  .contact_right:before{display: none;}
  .contact_left h3{font-size: 3.697vw;}
  .contact_left h2{font-size: 7.135vw;}
  .contact_left p{font-size: 3.093vw;}
  
}


/*contact-sec1-end */

/*contact_sec2-start */

.contact_sec2 {margin-top: -12.604vw;}
.contact_form{background-color: #F0F0F0; border: solid 0.052vw rgb(31, 31, 31, 0.12); padding: 1.667vw 2.604vw;}
.contact_form_row{display: flex; flex-wrap: wrap; grid-row-gap: 0.886vw; column-gap: 0.521vw;}
.contact_form_row .contact_half_box{width: calc(50% - 0.260vw);}
.contact_form_row .contact_full_box{width: 100%;}
.contact_form_row label{font-size: 0.781vw; font-weight: 600; font-family: "Raleway", sans-serif; margin-bottom: 0.521vw; display: block; width: 100%; line-height: 1.2;}
.contact_form_row input:not([type="checkbox"], [type="submit"]),
.contact_form_row select,
.contact_form_row textarea{width: 100%; min-height: 0.711vw; padding: 1.042vw; background:transparent; border-radius: 0; font-size: 0.729vw; font-family: "Raleway", sans-serif; font-weight: 400; color: #868686; border: none; outline: none;/* border-bottom: solid 0.157vw #707070;*/}
.contact_form_row textarea{padding:0;}
.contact_form_row input:focus:not([type="checkbox"], [type="submit"]),
.contact_form_row select:focus,
.contact_form_row textarea:focus{border-color: #F85241;}
.contact_form_row select{background: #ffffff url(/images/sub-pages/select-ar.svg) center right 0.854vw no-repeat; background-size: 0.625vw 0.417vw;}
.contact_form_row textarea{height: 7.396vw; resize: none;}
.contact_form_row .checkbox_label{position: relative;}
.contact_form_row .checkbox_label input{padding: 0; margin-bottom: 0; -webkit-appearance: auto; cursor: pointer; left: 0; right: 0; height: 1.042vw; z-index: 1; opacity: 0; bottom: 0; position: absolute;}
.contact_form_row .checkbox_label label {position: relative;cursor: pointer; margin: 0; display: flex; align-items: center; font-weight: 500;}
.contact_form_row .checkbox_label [type="checkbox"]:before { content:''; -webkit-appearance: none; background-color: #ffffff; border: 0.104vw solid #868686; width: 0.833vw; height: 0.833vw; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; margin-right: 0.417vw; top: -0.104vw;}
.contact_form_row .checkbox_label input:checked + label:after { content: ''; display: block; position: absolute; top: 0.028vw; left: 0.327vw; width: 0.277vw; height: 0.587vw; border: solid #127AC3; border-width: 0 0.104vw 0.104vw 0; transform: rotate(45deg);}
.contact_form_row p{font-size: 0.781vw;}
.contact_form_row p a{color: #1F1F1F; text-decoration: underline;}
.contact_form_row p a:hover{color: #F85241;}
.contact_form_row button.submit_btn{background-color: #F85241; font-size: 0.781vw; font-family: "Raleway", sans-serif; color: #ffffff; text-align: center; display: inline-block; line-height: 1; text-transform: uppercase; font-weight: 800; padding: 0.781vw 2.604vw; border: none; outline: none; cursor: pointer; transition: 0.3s ease-in-out; width: 100%;}
.contact_form_row button.submit_btn:hover{background: rgb(31, 31, 31, 0.8);}

.contact_form_row fieldset legend{font-size:0.781vw; font-family:"Raleway", sans-serif;}
.contact_form_row fieldset legend span{font-size:0.711vw;}

@media only screen and (max-width: 1024px){
  .contact_form_row label{font-size: 1.279vw; margin-bottom: 1.232vw;}
  .contact_form_row input:not([type="checkbox"], [type="submit"]), .contact_form_row select, .contact_form_row textarea{min-height: 4.027vw; font-size: 1.279vw;}
  .contact_form_row .checkbox_label input{height: 1.753vw;}
  .contact_form_row .checkbox_label [type="checkbox"]:before{width: 1.545vw; height: 1.545vw;}
  .contact_form_row .checkbox_label input:checked + label:after{top: 0.014vw; left: 0.540vw; width: 0.420vw; height: 1.014vw;}
  .contact_form_row p{font-size: 1.180vw;}
  .contact_form_row button.submit_btn{font-size: 1.350vw; padding: 1.137vw 2.604vw;}
  .contact_form_row select{background-size: 1.052vw 1.057vw;}
  .contact_form{padding:4.027vw 2.604vw 2.604vw;}
}

@media only screen and (max-width: 768px){
  .contact_form_row{grid-row-gap: 3.493vw;}
  .contact_form_row .contact_half_box{width: 100%;}
  .contact_form_row label{font-size: 1.848vw; top:4px;}
  .contact_form_row input:not([type="checkbox"], [type="submit"]), .contact_form_row select, .contact_form_row textarea{min-height: 5.450vw; font-size: 1.991vw; padding: 2.042vw 3.042vw;}
  .contact_form_row button.submit_btn{font-size: 2.062vw; padding: 1.848vw 2.604vw;}
  .contact_form_row select{background-size: 1.407vw 1.413vw;}
  .contact_form_row .checkbox_label [type="checkbox"]:before{width: 2.256vw; height: 2.256vw;}
  .contact_form_row .checkbox_label input{height: 2.464vw;}
  .contact_form_row .checkbox_label input:checked + label:after{top: 0.285vw; left: 0.611vw; width: 0.775vw; height: 1.298vw;}
  .contact_form_row p{font-size: 1.891vw;}
  .contact_form_row fieldset legend{font-size:1.848vw;}
  .contact_form_row fieldset legend span{font-size:1.707vw;}
}


@media only screen and (max-width:575px){
  .contact_form_row label{font-size: 2.848vw;}
  .contact_form_row p{font-size: 2.891vw;}
  .contact_form_row button.submit_btn{font-size: 3.437vw; padding: 2.375vw 3.508vw;}

}

/*contact_sec2-end */

/*contact_sec3-start */

.contact_sec3 .contact_container2{max-width: 39.063vw; margin: 0 auto;}
.contact_review{display: flex; flex-wrap: wrap; padding-bottom: 1.042vw;}
.contact_review .contact_review_left{width: 6.771vw; padding-right: 1.875vw;}
.contact_review .contact_review_right{width: calc(100% - 6.771vw); padding-bottom: 1.250vw; border-bottom: solid 0.052vw #707070;}
.contact_review_img img{width: 4.688vw; height: 4.688vw; display: block; border-radius: 100%;}
.contact_review_img .contact_review_img_default{ width: 4.688vw; height: 4.688vw; font-weight: bold; font-size: 1.354vw; }
.contact_review_right .cnt_star{display: flex; align-items: center; column-gap: 0.938vw; padding-bottom: 0.330vw;}
.contact_review_right .cnt_star img{width: 5.364vw; height: 0.938vw;;}
.contact_review_right .cnt_star h4{font-size: 1.354vw;}
.contact_container2 .contact_review:last-of-type .contact_review_right{border-bottom: none; padding-bottom: 0;}
.contact_container2 .contact_review:last-of-type{padding-bottom: 0;}

.network_travel_likes{display: flex; flex-wrap: wrap; gap:0.833vw; align-items: center;}
.network_travel_likes span{font-size: 0.729vw; font-weight: 500; color: #1F1F1F; font-family: "Montserrat", sans-serif;}
.network_travel_likes ul{list-style: none; display: flex; gap:0.833vw;}
.network_travel_likes ul li a svg:hover path{fill: #EA5647;}
.network_travel_likes ul li a svg{width: 0.781vw; height: 0.729vw;}

@media only screen and (max-width: 1024px){
  .contact_sec3 .contact_container2{max-width: 100%;}
  .contact_review_right .cnt_star h4{font-size: 2.065vw;}

  .network_travel_likes span{font-size: 1.298vw;}
  .network_travel_likes ul li a svg{width: 1.493vw; height: 1.085vw;}
}

@media only screen and (max-width: 768px){
  .contact_review .contact_review_left{width: 100%; padding-right: 0; padding-bottom: 1.875vw;}
  .contact_review_right .cnt_star img{width: 13.190vw; height: 2.716vw;}
  .contact_review_img img{width: 6.111vw; height: 6.111vw;}
  .contact_review_right .cnt_star h4{font-size: 3.488vw;}
  .contact_review .contact_review_right{width: 100%; padding-bottom: 2.673vw;}
  .contact_review{padding-bottom: 2.673vw;}  

  .network_travel_likes span{font-size: 2.010vw;}
  .network_travel_likes ul li a svg{width: 2.204vw; height: 1.796vw;}
}

@media only screen and (max-width: 575px){
  .network_travel_likes span{font-size: 3.010vw;}
  .network_travel_likes ul li a svg{width: 2.704vw; height: 2.296vw;}
  .contact_review_img img{width: 8.111vw; height: 8.111vw;}

}

/*contact_sec3-end */

/*contact_sec4-start*/

.contact_sec4 .get_out{position: relative;}
.contact_sec4 .get_out:before{position: absolute; content: ""; background: linear-gradient(180deg,rgba(128, 128, 128, 0) 0%, rgba(0, 0, 0, 1) 70%); opacity: 0.57; mix-blend-mode: multiply; bottom: 0; width: 100%; height: 55%;}
.get_out_text{position: absolute; bottom: 11.042vw; left: 16.667vw; z-index: 1;}
.get_out_text h2{font-size: 5.729vw; color: #ffffff; line-height: 1;}
.get_out_text p{font-size: 0.990vw; color: #ffffff; font-weight: 800; font-style: italic; text-transform: uppercase; letter-spacing: 0.25em; text-align: center;}

@media only screen and (max-width: 1024px){
  .get_out_text p{font-size: 1.345vw;}
}

@media only screen and (max-width: 768px){
  .get_out_text h2{font-size: 7.152vw;}
  .get_out_text p{font-size: 1.843vw;}
  .get_out_text{left: 9.552vw;}
  .contact_sec4 .get_out:before{height: 70%;}
}

/*contact_sec4-end*/
