a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

/*banner-start*/

.home_banner{position: relative;}

.banner_bg_image{position: relative;}
.banner_bg_image .banner_bg_image_hero{padding-bottom: 28.750vw; position: relative;}
.banner_bg_image .banner_bg_image_hero img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0;}
.banner_bg_image:before{position: absolute; content: ""; background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); mix-blend-mode: multiply; opacity: 0.4; top: 0; left: 0; width: 100%; height: 65%; z-index: 1;}
.banner_bg_image:after{position: absolute; content: ""; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); mix-blend-mode: multiply; opacity: 0.67; bottom: 0; left: 0; width: 100%; height: 35%; z-index: 1;}
.banner_bg_image_text h1{color: #ffffff; letter-spacing: -0.020em;}
.banner_bg_image_text{position: absolute; z-index: 2; bottom: 5.729vw; left: 0; right: 0; text-align: center;}

.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: #ffffff; border-radius:0.26vw; padding: 1.563vw 3.646vw; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); max-width: 49.844vw; margin: 0 auto;}
.search_row form{display: flex; gap:0.26vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 0.677vw; font-weight: 600; color: #020202; margin-bottom: 0.521vw; display: block; line-height: 1;}
.search_row form .search_select select{border: solid 0.0365vw #707070; outline: none; border-radius: 0.156vw; padding: 0.732vw 2.343vw; width: 100%;}

.search_row form .search_select.ss1 select{background: url(/images/front-pages/images/map.svg) center left 0.732vw no-repeat, url(/images/front-pages/images/down-arrow.svg) center right 0.732vw no-repeat; font-size: 0.833vw; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/front-pages/images/building.svg) center left 0.732vw no-repeat, url(/images/front-pages/images/down-arrow.svg) center right 0.732vw no-repeat; font-size: 0.833vw; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 0.833vw; font-weight: 800; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Raleway", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}
.home_section2 .home_slider2{position:relative;}


@media only screen and (max-width: 1024px){
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 38.352vw;}
  .banner_bg_image_text{bottom: 7.642vw;}
  .search_box .container{max-width: 90%;}
  .search_box_inner{padding: 2.378vw 3.333vw;}
  .search_row form .search_select label{font-size: 1.208vw;}
  .search_row form .search_select.ss1 select,
  .search_row form .search_select.ss2 select,
  .search_row form .search_select.ss3 select{font-size: 1.208vw; background-size: 1.397vw; min-height: 3.454vw; padding: 0.521vw 2.378vw;}
  .search_row form .search_btn input[type="submit"]{min-height: 3.454vw; font-size: 1.298vw;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 31.905vw;}  
}

@media only screen and (max-width: 768px){
  .search_box{bottom: -12.806vw;}
  .banner_bg_image .banner_bg_image_hero{padding-bottom: 51.136vw;;}
  .banner_bg_image_text{top: 50%; transform: translateY(-50%); bottom: auto;}
  .search_row form{flex-direction: column; gap: 1.328vw;}
  .search_box .container{max-width: 90%;}
  .search_box_inner{padding: 2.378vw 3.333vw;}
  .search_row form > div{width: 100%;}
  .search_row form .search_select label{font-size: 1.920vw;}
  .search_row form .search_select.ss1 select,
  .search_row form .search_select.ss2 select,
  .search_row form .search_select.ss3 select{font-size: 1.920vw; background-size: 2.109vw; min-height: 4.877vw; padding: 0.521vw 3.090vw;}
  .search_row form .search_btn input[type="submit"]{min-height: 4.877vw; font-size: 2.437vw; width: 100%;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 100%;}
}

/*banner-end*/

/*adventures-sec1-start*/

section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 12.869vw;}
section.home_section1.our_desti_sec1{ background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 13.021vw; }
.destination_overview_tab{max-width: 36.459vw; margin: 0 auto; padding-bottom: 4.427vw;}
ul.destination_tab{list-style: none; display: flex; flex-wrap: wrap; column-gap: 3.229vw; grid-row-gap: 1.250vw; justify-content: center; border-bottom: solid 0.026vw #707070;}
ul.destination_tab li a{font-size: 0.833vw; font-weight: 600; text-transform: uppercase; color: #1F1F1F; position: relative; display: block; line-height: 3;}
ul.destination_tab li a:before{position: absolute; content: ""; width: 0%; height: 0.312vw; background-color: #F85241; left: 0; bottom: 0; transition: 0.3s ease-in-out;}
ul.destination_tab li.active a:before,
ul.destination_tab li a:hover:before{width: 100%;}
ul.destination_tab li.active a{text-decoration: none;}

.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 2.371vw;}
.adventure_right_text .advanture_text1 h3{font-size: 1.771vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 0.781vw 0 0.851vw;}
.adventure_right_text .advanture_text2 h2{font-size: 4.167vw; color:#1F1F1F; line-height: 3.646vw;}
.adventure_right_text .advanture_text2 img{margin-right: 2.917vw; width: 4.427vw; height: 5.312vw;}
.adventure_right_text p span{font-weight: 800;}

.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}
.our_desti_sec1 .head_text_center{max-width: 43.125vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.146vw;}
.our_desti_sec1 .head_text_center p{max-width: 38.073vw; margin: 0 auto; padding-bottom: 1.146vw;}

@media only screen and (max-width: 1024px){
  ul.destination_tab{column-gap: 2.518vw;}
  ul.destination_tab li a{font-size: 1.260vw;}
  .our_desti_sec1 .head_text_center{max-width: 100%;}
  .our_desti_sec1 .head_text_center p{max-width: 100%;}
  .adventure_right_text .advanture_text1 a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 2.318vw; height: 2.018vw;}
}

@media only screen and (max-width: 768px){
  section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 22.616vw;}
  .destination_overview_tab{max-width: 90%;}
  ul.destination_tab li a{font-size: 2.114vw;}
  .destination_overview_tab{padding-bottom: 6.562vw;}
  .adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}
}

/*adventures-sec1-end*/

/*adventures-sec2-start*/

.our_desti_sec2{margin-top: -7.813vw;}
.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.042vw; grid-row-gap: 1.042vw;}
.feature_desti_row .network_travel_img_text p{font-size: 0.729vw; color: #ffffff; line-height: 0.729vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.042vw; grid-row-gap: 1.042vw;}
.feature_desti_row .network_travel_img_text p{font-size: 0.729vw; color: #ffffff; line-height: 0.729vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.network_travel_box .network_travel_top .network_travel_img{padding-bottom: 27.292vw; position: relative; overflow: hidden;}
.network_travel_box .network_travel_top .network_travel_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 0.781vw 1.042vw rgb(0, 0, 0, 0.16); transition: 0.3s ease-in-out;}
.network_travel_box .network_travel_top{position: relative;}
.network_travel_box .network_travel_top:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.24; mix-blend-mode: multiply; width: 100%; height: 100%; bottom: 0; left: 0; right: 0; z-index: 1;}


.network_travel_top .network_travel_img_text{text-align: center; position: absolute; bottom: 2.240vw; left: 0; right: 0; margin: 0 auto; width: 80%; z-index: 2;}
.network_travel_top .network_travel_img_text h3{font-size: 2.083vw; color: #ffffff;}
.network_travel_top .network_travel_img_text .btn a{font-size: 0.833vw;  border-radius: 0.026vw; font-weight: 800; border: solid 0.026vw #ffffff; background-color: transparent; padding: 0.521vw 1.094vw; text-decoration: none;}
.network_travel_top .network_travel_img_text .btn a:hover{background-color: #ffffff; color: #F85241;}

@media only screen and (max-width: 1024px){
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 3.515vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 1.298vw; padding: 1.090vw 1.441vw;}

  .feature_desti_row{column-gap: 1.251vw; grid-row-gap: 1.251vw; grid-template-columns: repeat(2, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 1.441vw; line-height: 1.3;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 1.649vw;}
}

@media only screen and (max-width: 768px){
  .network_travel_box .network_travel_top .network_travel_img{padding-bottom: 110%;}
  .network_travel_top .network_travel_img_text h3{font-size: 4.478vw;}
  .network_travel_top .network_travel_img_text .btn a{font-size: 2.294vw; padding: 1.588vw 3.575vw;}

  .feature_desti_row{grid-row-gap: 5.929vw; grid-template-columns: repeat(1, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 2.366vw;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 2.289vw;}
  .network_travel_top .network_travel_img_text{bottom: 4.374vw;}
  .network_travel_top .network_travel_img_text{width: 90%;}
}

@media only screen and (max-width: 575px){
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 3.437vw; padding: 2.375vw 3.508vw;}

}

/*adventures-sec2-end*/