@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Oswald:wght@400;700&family=Bebas+Neue&display=swap');
.slick_next, .slick_prev{width: auto; height: auto; font-size: 0; line-height: 0;  position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0,-50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0;}
.slick_next, .slick_prev{width: auto; height: auto; top: calc(50% - 0.781vw);}
.slick_next:before, .slick_prev:before{display: none;}
.slick_prev{left: 1.667vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.slick_prev:hover{opacity: 1;}
.slick_next{right: 1.667vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.slick_next:hover{opacity: 1;}
.slick_dots{display: flex; justify-content: center; bottom: -2.134vw; gap:0.356vw; list-style:none; position:absolute; width:100%; z-index:1; }
.slick_dots li{width: auto; height: auto; margin: 0; padding: 0; cursor: pointer;}
.slick_dots li button{width: 0.886vw; height: 0.886vw; border-radius: 3.705vw; background-color: #ffffff; border: solid 0.052vw #131313; padding: 0; cursor: pointer;}
.slick_dots li button.active{border-color: #EA5647; background-color: #EA5647;}
.slick_dots li button:before{display: none;}
.slick-dotted.slick-slider{margin-bottom: 0;}

/*banner-start*/


.home_banner{position: relative;}
.home_banner .hero_slide_box{min-height: 100vh; display: flex !important; align-items: center; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; position: relative;}
.home_banner .hero_slide_box:before{position: absolute; content: ""; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); opacity: 0.53; mix-blend-mode: multiply; width: 100%; height: 100%; top: 0; left: 0;}
.home_banner .hero_slide_container{max-width: 80%; margin: 0 auto; width: 100%; padding: 0 5.208vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 1; row-gap: 3vw;}
.home_banner .hero_slide_text{max-width: 30.438vw;}
.home_banner .hero_slide_text p{color: #ffffff; font-size: 0.938vw; font-weight: 700; font-style: italic; padding-left: 1vw; padding-right: 5vw; line-height: 1.25vw;}
.home_banner .hero_slide_text h1,
.home_banner .hero_slide_text h2{color: #ffffff; font-size: 8.49vw; line-height: 7.187vw; padding-bottom: 2.343vw; letter-spacing: -0.020em;}
.home_banner .slick-next, .home_banner .slick-prev{width: auto; height: auto;}
.home_banner .slick-next:before, .home_banner .slick-prev:before{display: none;}
.home_banner .slick-prev{left: 2.343vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 2.269vw; height: 3.294vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick-prev:hover{opacity: 1;}
.home_banner .slick-next{right: 2.343vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 2.269vw; height: 3.294vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick-next:hover{opacity: 1;}

.location_name{display: flex; align-items: center; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); column-gap: 0.512vw;}
.location_name img{width: 1.146vw; height: 1.146vw;}
.location_name span{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400; text-transform: uppercase; color: #ffffff;}


.home_banner.destination_overview_banner .hero_slide_box:before{opacity: 0.44;}
.home_banner.destination_overview_banner .hero_slide_text h1, .home_banner.destination_overview_banner .hero_slide_text h2{padding-bottom: 0.833vw;}
.home_banner.destination_overview_banner .hero_slide_text p{padding-left: 0; padding-bottom: 0;}
.home_banner.destination_overview_banner .hero_slide_text p span{font-style: normal;}
/*.home_banner.destination_overview_banner .hero_slide_text{max-width: 22.656vw;}*/

.home_banner.destination_overview_banner.adventure_banner .hero_slide_text{max-width: 32.014vw;}

.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: linear-gradient(180deg,rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(205, 202, 202, 1) 100%); border-radius:0.417vw; padding: 1.563vw 3.646vw; box-shadow: 0 0.598vw 1.064vw rgb(0 0 0 / 20%); max-width: 95%; margin: 0 auto;}
.search_row form{display: flex; gap:0.833vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.25vw; font-weight: 600; color: #1f1f1f; margin-bottom: 0.521vw; display: block; line-height: 1; font-family: "Roboto Condensed", sans-serif;}
.search_row form .search_select select{border: solid 0.0365vw #c7c7c7; outline: none; border-radius: 0.313vw; padding: 0.732vw 2.343vw; width: 100%; font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-size: 1.042vw; color: #1F1F1F;}
.search_row form .search_select.ss1 select{background: url(/images/svg/map.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/svg/building.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss3 select{background: url(/images/svg/user.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.25vw; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Bebas Neue", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center; letter-spacing: 0.05em;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}

.home_section2 .home_slider2{position:relative;}


@media only screen and (max-height: 900px) and (min-width: 691px) {
    .home_banner .hero_slide_box {
        min-height: 800px !important;
    }
}


@media only screen and (max-width: 1024px){
  .home_banner .hero_slide_container{padding: 0 4.223vw; max-width: 90%;}
  .home_banner .hero_slide_text p{font-size: 1.818vw; padding-left: 1.2vw; line-height: 1.2;}
.location_name span{font-size: 1.918vw;}
.location_name img{width: 2.55vw; height: 2.55vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw; max-width: 95%;}
.search_row form .search_select label{font-size: 1.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}  
}

@media only screen and (max-width: 768px){
  .search_box{bottom: -18vw;}
  .home_banner .hero_slide_container{padding: 0 2.223vw;}
.home_banner .hero_slide_box{min-height: 80vh;}
.home_banner .hero_slide_text{max-width: 100%;}
.home_banner .hero_slide_text p{font-size: 3.968vw; padding-left: 0; line-height: 1.3;}
.home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size: 11.517vw; line-height: 1;}
.location_name span{font-size: 4.518vw;}
.location_name img{width: 3.55vw; height: 3.55vw;}
.search_row form{flex-direction: column; gap: 1.866vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw;}
.search_row form > div{width: 100%;}
.search_row form .search_select label{font-size: 2.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 100%;}

  .home_banner.destination_overview_banner.adventure_banner .hero_slide_text{max-width: 100%;}
}

/*banner-end*/

/*our-adventure-sec1-start*/

section.home_section1{padding-top: 10.521vw;}
section.home_section1.our_desti_sec1{ background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 13.021vw; }

.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 2.371vw;}
.adventure_right_text .advanture_text1 h3{font-size: 1.771vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 0.729vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.521vw 0.938vw; line-height: 1; display: flex; align-items: center; gap:0.677vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 0.938vw; height: 0.938vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 0.781vw 0 0.851vw;}
.adventure_right_text .advanture_text2 h2{font-size: 4.167vw; color:#1F1F1F; line-height: 3.646vw;}
.adventure_right_text .advanture_text2 img{margin-right: 2.917vw; width: 4.427vw; height: 5.312vw;}
.adventure_right_text p span{font-weight: 800;}

.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}
.our_desti_sec1 .head_text_center{max-width: 43.125vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.146vw;}
.our_desti_sec1 .head_text_center p{max-width: 38.073vw; margin: 0 auto; padding-bottom: 1.146vw;}

.our_desti_sec1.our_adven_sec1 .head_text_center p{max-width: 100%;}

@media only screen and (max-width: 1024px){
  .our_desti_sec1 .head_text_center{max-width: 100%;}
  .our_desti_sec1 .head_text_center p{max-width: 100%;}
  .adventure_right_text .advanture_text1 a{font-size: 1.298vw; padding: 1.090vw 1.441vw;}
  .adventure_right_text .advanture_text1 a svg{width: 1.649vw; height: 1.436vw;}
}

@media only screen and (max-width: 768px){
  section.home_section1.our_desti_sec1{padding-top: 21.904vw;}
  .adventure_right_text .advanture_text1 a{font-size: 2.721vw; padding: 1.090vw 2.152vw;}
  .adventure_right_text .advanture_text1 a svg{width: 2.361vw; height: 2.361vw;}
}

/*our-adventure-sect1-end*/

/*our-adventure-sec2-start */

.feature_desti_row.feature_adven_row{column-gap: 1.562vw;}
.feature_adven_row .feature_adven_box{padding-bottom: 3.125vw; position: relative;}
.feature_adven_box .feature_adven_top{position: relative;}
.feature_adven_box .feature_adven_top .feature_adven_img{padding-bottom: 15.104vw; position: relative;}
.feature_adven_box .feature_adven_top .feature_adven_img img{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0;}
.feature_adven_box .feature_adven_top .feature_adven_img_text{position: absolute; top: 1.250vw; left: 1.250vw;}
.feature_adven_box .feature_adven_img_text .adven_star{background: rgb(255, 255, 255, 0.84); border-radius: 1.250vw; padding: 0.354vw 0.781vw; display: flex; align-items: center; column-gap: 0.781vw; line-height: 1;}
.feature_adven_box .feature_adven_img_text .adven_star svg{width: 4.479vw; height: 0.729vw;}
.feature_adven_box .feature_adven_img_text .adven_star span{font-size: 0.729vw;}
.feature_adven_box .feature_adven_bot{padding-top: 1.562vw;}
.feature_adven_box .feature_adven_bot h3{font-size: 1.667vw; min-height: 4.010vw;}
.feature_adven_box .feature_adven_bot span.days_price{font-size: 0.729vw; line-height: 1.3; letter-spacing: -0.010em; padding: 0.521vw 0 1.250vw; display: block;}
.feature_adven_box .feature_adven_bot span.days_price span.taxes{font-size: 0.625vw;}
.feature_adven_box .feature_adven_bot p{font-size: 0.833vw; line-height: 1.4; letter-spacing: -0.005em;}
.feature_adven_box .feature_adven_bot .btn{position: absolute; bottom: 0; left: 0;}
.feature_adven_box .feature_adven_bot .btn a{font-size: 0.781vw; color: #1F1F1F; font-weight: 800; border: solid 0.026vw #1F1F1F; background-color: transparent; padding: 0.521vw 1.094vw; text-decoration: none; border-radius: 0.052vw;}
.feature_adven_box .feature_adven_bot .btn a:hover{background-color: #1F1F1F; color: #ffffff;}

.our_desti_sec2{margin-top: -7.813vw;}
.feature_desti_row{display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1.042vw; grid-row-gap: 1.042vw;}
.feature_desti_row .network_travel_img_text p{font-size: 0.729vw; color: #ffffff; line-height: 0.729vw;}
.feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400;}
.feature_desti_row .network_travel_box .network_travel_top:before{opacity: 0.72; background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(25, 26, 26, 0) 100%); height: 50%;}

.pagination{padding-top: 2.083vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap:0.521vw;}
.pagination button {width: 1.562vw; height: 1.562vw; display: flex; align-items: center; justify-content: center; text-align: center; font-size: 0.833vw; font-weight: 400; background-color: #ffffff; border: solid 0.052vw #131313; color: #131313; transition: 0.3s ease-in-out; font-family: "Bebas Neue", sans-serif; cursor: pointer;}
.pagination button:hover,
.pagination button.active{background-color: #EA5647; color: #ffffff; border-color: #EA5647;}


@media only screen and (max-width: 1024px){
  .feature_adven_box .feature_adven_top .feature_adven_img{padding-bottom: 65%;}
  .feature_adven_box .feature_adven_img_text .adven_star svg{width: 5.191vw; height: 1.085vw;}
  .feature_adven_box .feature_adven_img_text .adven_star span{font-size: 1.085vw;}
  .feature_adven_box .feature_adven_bot h3{font-size: 2.378vw; min-height: 5.628vw;}
  .feature_adven_box .feature_adven_bot span.days_price{font-size: 1.298vw;}
  .feature_adven_box .feature_adven_bot span.days_price span.taxes{font-size: 1.123vw;}
  .feature_adven_box .feature_adven_bot p{font-size: 1.402vw;}
  .feature_adven_box .feature_adven_bot .btn a{font-size: 1.298vw; padding: 1.090vw 1.441vw;}
  .feature_adven_row .feature_adven_box{padding-bottom: 3.836vw;}

  .feature_desti_row{column-gap: 1.251vw; grid-row-gap: 1.251vw; grid-template-columns: repeat(2, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 1.441vw; line-height: 1.3;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 1.649vw;}

  .pagination{padding-top: 3.742vw;}
  .pagination button{width: 2.846vw; height: 2.846vw; gap:1.138vw; font-size: 1.494vw;}
  
}

@media only screen and (max-width: 768px){
  .feature_adven_box .feature_adven_img_text .adven_star{border-radius: 2.673vw; padding: 1.066vw 1.848vw;}
  .feature_adven_box .feature_adven_img_text .adven_star svg{width: 13.017vw; height: 1.796vw;}
  .feature_adven_box .feature_adven_img_text .adven_star span{font-size: 2.010vw;}
  .feature_adven_box .feature_adven_bot h3{font-size: 3.801vw; min-height: 0.711vw;}
  .feature_adven_box .feature_adven_bot span.days_price{font-size: 2.124vw;}
  .feature_adven_box .feature_adven_bot span.days_price span.taxes{font-size: 2.119vw;}
  .feature_adven_box .feature_adven_bot p{font-size: 2.398vw;}
  .feature_adven_box .feature_adven_bot .btn a{font-size: 2.294vw; padding: 1.588vw 3.575vw;}
  .feature_adven_row .feature_adven_box{padding: 0;}
  .feature_adven_box .feature_adven_bot .btn{position: relative;}
  .feature_adven_box .feature_adven_bot{padding-top: 2.525vw;}

  .feature_desti_row{grid-row-gap: 5.929vw; grid-template-columns: repeat(1, 1fr);}
  .feature_desti_row .network_travel_img_text p{font-size: 2.366vw;}
  .feature_desti_row .network_travel_top .network_travel_img_text .btn a{font-size: 2.289vw;}
  .network_travel_top .network_travel_img_text{bottom: 4.374vw;}
  .network_travel_top .network_travel_img_text{width: 90%;}

  .pagination{padding-top: 4.809vw;}
  .pagination button{width: 4.269vw; height: 4.269vw; gap:1.138vw; font-size: 2.206vw;}
  
}


@media only screen and (max-width: 575px){
  .feature_adven_box .feature_adven_bot h3{font-size: 4.801vw; min-height: 0.711vw;}
  .feature_adven_box .feature_adven_bot span.days_price{font-size: 2.824vw; padding: 1.521vw 0 2.25vw;}
  .feature_adven_box .feature_adven_bot span.days_price span.taxes{font-size: 2.719vw;}
  .feature_adven_box .feature_adven_bot p{font-size: 3.579vw;}
  .feature_adven_box .feature_adven_bot .btn a{font-size: 3.437vw; padding: 2.375vw 3.508vw;}
  .pagination{padding-top: 6.809vw;}
  .pagination button{width: 6.269vw; height: 6.269vw; gap:1.638vw; font-size: 2.806vw;}

}

/*our-adventure-sec2-end */