@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Oswald:wght@400;700&family=Bebas+Neue&display=swap');
/*banner-start*/

.home_banner{position: relative;}
.home_banner .hero_slide_box{min-height: 100vh; display: flex !important; align-items: center; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; position: relative;}
.home_banner .hero_slide_box:before{position: absolute; content: ""; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); opacity: 0.53; mix-blend-mode: multiply; width: 100%; height: 100%; top: 0; left: 0;}
.home_banner .hero_slide_container{max-width: 80%; margin: 0 auto; width: 100%; padding: 0 5.208vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 1; row-gap: 3vw;}
.home_banner .hero_slide_text{max-width: 30.438vw;}
.home_banner .hero_slide_text p{color: #ffffff; font-size: 0.938vw; font-weight: 700; font-style: italic; padding-left: 0; padding-right: 5vw; line-height: 1.25vw;}
.home_banner .hero_slide_text h1,
.home_banner .hero_slide_text h2{color: #ffffff; font-size: 8.49vw; line-height: 7.187vw; padding-bottom: 2.343vw; letter-spacing: -0.020em;}
.home_banner .slick_next, .home_banner .slick_prev{width: auto; height: auto; font-size: 0; line-height: 0;  position: absolute; top: 50%; display: block; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0,-50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0;}
.home_banner .slick_next:before, .home_banner .slick_prev:before{display: none;}
.home_banner .slick_prev{left: 1.667vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_prev:hover{opacity: 1;}
.home_banner .slick_next{right: 1.667vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_next:hover{opacity: 1;}

.location_name{display: flex; align-items: center; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); column-gap: 0.512vw;}
.location_name img{width: 1.146vw; height: 1.146vw;}
.location_name span{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400; text-transform: uppercase; color: #ffffff;}

.home_banner.destination_overview_banner .hero_slide_box:before{opacity: 0.44;}
.home_banner.destination_overview_banner .hero_slide_text h1, .home_banner.destination_overview_banner .hero_slide_text h2{padding-bottom: 0.833vw;}
.home_banner.destination_overview_banner .hero_slide_text p{padding-left: 0; padding-bottom: 0;}
.home_banner.destination_overview_banner .hero_slide_text p span{font-style: normal;}
/*.home_banner.destination_overview_banner .hero_slide_text{max-width: 22.656vw;}*/

.home_banner.destination_overview_banner.adventure_banner .hero_slide_text{max-width: 30.438vw;}

.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: linear-gradient(180deg,rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(205, 202, 202, 1) 100%); border-radius:0.417vw; padding: 1.563vw 3.646vw; box-shadow: 0 0.598vw 1.064vw rgb(0 0 0 / 20%); max-width: 95%; margin: 0 auto;}
.search_row form{display: flex; gap:0.833vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.25vw; font-weight: 600; color: #1f1f1f; margin-bottom: 0.521vw; display: block; line-height: 1; font-family: "Roboto Condensed", sans-serif;}
.search_row form .search_select select{border: solid 0.0365vw #c7c7c7; outline: none; border-radius: 0.313vw; padding: 0.732vw 2.343vw; width: 100%; font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-size: 1.042vw; color: #1F1F1F;}
.search_row form .search_select.ss1 select{background: url(/images/svg/map.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/svg/building.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss3 select{background: url(/images/svg/user.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.25vw; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Bebas Neue", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center; letter-spacing: 0.05em;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}

.home_section2 .home_slider2{position:relative;}


@media only screen and (max-width: 1024px){
.home_banner .hero_slide_container{max-width: 90%; padding: 0 4.223vw;}
.home_banner .hero_slide_text{max-width: 41.845vw;}
.home_banner .hero_slide_text p{font-size: 1.818vw; padding-left: 1.2vw; line-height: 1.2;}
.location_name span{font-size: 1.918vw;}
.location_name img{width: 2.55vw; height: 2.55vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw; max-width: 95%;}
.search_row form .search_select label{font-size: 1.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}
.home_banner.destination_overview_banner .hero_slide_text{max-width: 31.905vw;}  
}

@media only screen and (max-width: 768px){
.search_box{bottom: -18vw;}
.home_banner .hero_slide_box{min-height: 80vh;}
.home_banner .hero_slide_text{max-width: 100%;}
.home_banner .hero_slide_text p{font-size: 3.968vw; padding-left: 0; line-height: 1.3;}
.home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size: 11.517vw; line-height: 1;}
.location_name span{font-size: 4.518vw;}
.location_name img{width: 3.55vw; height: 3.55vw;}
.search_row form{flex-direction: column; gap: 1.866vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw;}
.search_row form > div{width: 100%;}
.search_row form .search_select label{font-size: 2.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}
.home_banner .hero_slide_container{padding: 0 2.223vw;}
.home_banner.destination_overview_banner .hero_slide_text{max-width: 100%;}

.home_banner.destination_overview_banner.adventure_banner .hero_slide_text{max-width: 100%;}
}

/*banner-end*/

/*our-adventure-detail-sec1-start*/

section.home_section1{padding-top: 10.521vw;}
section.home_section1.our_desti_sec1{ background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 13.021vw; }

.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 2.371vw;}
.adventure_right_text .advanture_text1 h3{font-size: 1.771vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 1.098vw 0 1.196vw;}
.adventure_right_text .advanture_text2 h2{font-size: 4.167vw; color:#1F1F1F; line-height: 3.646vw;}
.adventure_right_text .advanture_text2 img{margin-right: 2.1vw; width: 5vw; height: 6.042vw;}
.adventure_right_text p span{font-weight: 800;}

.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}
.our_desti_sec1 .head_text_center{max-width: 43.125vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.146vw;}
.our_desti_sec1 .head_text_center p{max-width: 38.073vw; margin: 0 auto; padding-bottom: 1.146vw;}

.our_desti_sec1.our_adven_sec1 .head_text_center p{max-width: 100%;}

.adven_dtl_top{padding-top: 1.562vw; display: flex; justify-content: center;}
.adven_dtl_top ul{display: flex; flex-wrap: wrap; gap:1.250vw; padding-top: 1.250vw; border-top: solid 0.052vw #707070; justify-content: center; list-style: none;}

@media only screen and (max-width: 1024px){
.our_desti_sec1 .head_text_center{max-width: 100%;}
.our_desti_sec1 .head_text_center p{max-width: 100%; padding-bottom: 2.569vw;}
.adventure_right_text .advanture_text1 a{font-size: 1.298vw; padding: 1.090vw 1.441vw;}
.adventure_right_text .advanture_text1 a svg{width: 1.649vw; height: 1.436vw;}

.adven_dtl_top ul{gap: 1.961vw; }
}

@media only screen and (max-width: 768px){
section.home_section1.our_desti_sec1{padding-top: 30.788vw;}
.adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}

.adven_dtl_top ul{gap: 2.673vw; padding-top: 2.673vw;}
}

/*our-adventure-detail-sec1-end*/

/*our-adventure-detail-sec2-start*/

.our_desti_sec2{margin-top: -7.813vw;}
.destination_overview_sec2 .grid_box span{font-size: 1.250vw; font-weight: 800; font-style: italic; line-height: 1.2; padding-bottom: 1.042vw; display: block; color: #000000;}
.adven_detl_sec2.destination_overview_sec2 .grid_box span{display: inline;}

@media only screen and (max-width: 1024px){
.destination_overview_sec2 .grid_box span{font-size: 1.961vw; padding-bottom: 1.753vw;}

}

@media only screen and (max-width: 768px){
.destination_overview_sec2 .grid_box span{font-size: 2.673vw; padding-bottom: 2.464vw;}
.destination_overview_sec2 .grid_box:first-child{order: 1;}
.destination_overview_sec2 .grid_box:last-child{order: 0;}
}


/*our-adventure-detail-sec2-end*/


/*our-adventure-detail-sec3-start*/

.ultimate_row{display: flex; flex-wrap: wrap; border: solid 0.052vw #A3A1A1;}
.ultimate_left{width: 35%; background-color: #062129;}
.ultimate_left_inner{background-color: #062129; padding: 2.604vw 0;}
.ultimate_left_inner .ultimate_left_inner_hight{max-height: 43.750vw; overflow-y: auto; margin-right: 0.536vw; padding-right: 0.536vw;}
.ultimate_left_inner .ultimate_left_inner_hight::-webkit-scrollbar{width: 0.464vw; background-color: #fff1ce; border-radius: 0.625vw;}
.ultimate_left_inner .ultimate_left_inner_hight::-webkit-scrollbar-thumb {border-radius: 0; background-color: #F85241; border-radius: 0.625vw;}
.ultimate_left_inner .ultimate_left_inner_hight::-webkit-scrollbar-track {border-radius: 0;background-color: #fff1ce; border-radius: 0.625vw;}
.ultimate__top{padding: 0 2.604vw;}
.ultimate__top h4{font-size: 1.354vw; font-weight: 800; color: #ffffff; line-height: 1.2; padding-bottom: 2.083vw; font-family: "Raleway", sans-serif; text-transform: none;}
.ultimate_trip span.san_trip{display: block; font-size: 0.833vw; color: #ffffff;}
.ultimate_days{padding-left: 1.042vw !important; padding-top: 1.302vw !important; display: block !important;}
body .ultimate_row .tab_lists button{width: 100%; display: block; padding: 0.781vw 0.781vw 0.781vw 1.562vw; color: #ffffff; cursor: pointer; margin-top: 0.260vw; transition: 0.3s ease-in-out; border: none !important;}
body .ultimate_row .tab_lists button .ultimate_day{font-size: 0.677vw; font-weight: 700; letter-spacing: 0.05em; text-transform: uppercase; color: #FFF}
body .ultimate_row .tab_lists button .ultimate_day_info{font-size: 0.781vw; font-weight: 800; color: #FFF}
body .ultimate_row .tab_lists button.active,
body .ultimate_row .tab_lists button:hover{background-color: #F85241;}
.ultimate__bot{padding: 1.042vw 2.604vw 0;}
.ultimate__bot .btn a{width: 100%; color: #1F1F1F; border-radius: 0; font-weight: 800;}
.ultimate__bot .btn a:hover{background-color: #ffffff;}
.ultimate_right{width: 65%; padding: 1.667vw; box-sizing: border-box;}
body .ultimate_right_row .tab_details{display: flex; flex-wrap: wrap; row-gap: 3.166vw;}
body .ultimate_right_row .tab_details .ultimate_right_left{width: 62%; padding-right: 1.562vw;}
body .ultimate_right_row .tab_details .ultimate_right_right{width: 38%;}
.ultimate_right_left h4{font-size: 1.458vw; font-family: "Raleway", sans-serif; text-transform: none; font-weight: 800; padding-bottom: 1.042vw;}
.ultimate_prev_next{padding-top: 2.604vw; margin-top: 2.604vw; border-top: solid 0.052vw #707070;}
.ultimate_prev_next .btn_set{display: flex; column-gap: 0.781vw; justify-content: flex-end;}
.ultimate_prev_next .btn_set .btn button{min-width: 6.250vw; background-color: #F4F2F2; border: solid 0.052vw #707070; color: #000000; border-radius: 0;}
.ultimate_prev_next .btn_set .btn button:hover{background-color: #F85241; color: #ffffff; border-color: #F85241;}


@media only screen and (max-width: 1024px){
.ultimate__top h4{font-size: 1.781vw;}
.ultimate_trip span.san_trip{font-size: 1.331vw;}
body .ultimate_row .tab_lists button .ultimate_day{font-size: 1.246vw;}
body .ultimate_row .tab_lists button .ultimate_day_info{font-size: 1.137vw;}
.ultimate_left_inner .ultimate_left_inner_hight{max-height: 60.825vw;}

}

@media only screen and (max-width: 768px){
.ultimate_left{width: 100%;}
.ultimate_right{width: 100%;}
.ultimate__top h4{font-size: 2.755vw;}
.ultimate_trip span.san_trip{font-size: 2.070vw;}
body .ultimate_row .tab_lists button .ultimate_day{font-size: 2.100vw;}
body .ultimate_row .tab_lists button .ultimate_day_info{font-size: 2.120vw;}
body .ultimate_row .tab_lists button{padding: 1.493vw 1.493vw 1.493vw 1.562vw;}
.ultimate_days{padding-left: 1.753vw !important; padding-top: 2.013vw !important;}
.ultimate__top{padding: 0 3.315vw;}
.ultimate_left_inner{padding: 3.315vw 0;}
.ultimate__bot{padding: 1.753vw 3.315vw 0;}
.ultimate_right{padding: 3.090vw;}
body .ultimate_right_row .tab_details .ultimate_right_left{width: 100%; padding-right: 0;}
body .ultimate_right_row .tab_details .ultimate_right_right{width: 100%;}
.ultimate_right_left h4{font-size: 3.202vw; padding-bottom: 2.876vw;}
.ultimate_prev_next{padding-top: 3.315vw; margin-top: 0;}
.ultimate_prev_next .btn_set{column-gap: 1.493vw;}
.ultimate_left_inner .ultimate_left_inner_hight{max-height: 71.146vw;}

}

@media only screen and (max-width: 575px){
	.ultimate__top h4{font-size: 2.955vw;}
.ultimate_trip span.san_trip{font-size: 2.570vw;}
body .ultimate_row .tab_lists button .ultimate_day{font-size: 2.400vw;}
body .ultimate_row .tab_lists button .ultimate_day_info{font-size: 2.520vw;}

}

/*our-adventure-detail-sec3-end*/


/*our-adventure-detail-sec4-start*/

.departure_ates{border: solid 0.052vw #A3A1A1; padding: 2.604vw;}
.departure_ates_inner h4{font-size: 1.354vw; font-family: "Raleway", sans-serif; text-transform: none; font-weight: 800; padding-bottom: 1.771vw;}
.departure_ates_inner .search_row form .search_select label{font-weight: 500;}
.departure_ates_inner .search_row form{display: inline-block;}
.departure_ates_inner .search_row form .search_select.ss1 select{background: url(/images/front-pages/images/down-arrow.svg) center right 0.521vw no-repeat; padding: 0.521vw 1.667vw 0.521vw 0.521vw; min-width: 15.625vw; border-radius: 0; background-size: 1.042vw; color: #000;}
.departure_ates_inner h4.selsect_year{font-weight: 700; padding: 1.042vw 0; font-family: "Roboto", sans-serif;}
.departure_table_main{max-height: 23.117vw; overflow-y: auto; margin-right: 0.536vw; padding-right: 0.536vw;}
.departure_table_main::-webkit-scrollbar{width: 0.464vw; background-color: #efefef; border-radius: 0.625vw;}
.departure_table_main::-webkit-scrollbar-thumb {border-radius: 0; background-color: #F85241; border-radius: 0.625vw;}
.departure_table_main::-webkit-scrollbar-track {border-radius: 0;background-color: #efefef; border-radius: 0.625vw;}
.departure_table{overflow-x: auto;}
.departure_table table thead tr{border-bottom: solid 0.052vw #707070;}
.departure_table table tr th,
.departure_table table tr td{padding: 0.781vw 0; text-align: left; font-family: "Roboto", sans-serif; font-size: 0.833vw; font-weight: 700; letter-spacing: -0.025em; vertical-align: top;}
.departure_table table tr td span.price_tax{font-weight: 500; font-size: 0.625vw; font-style: italic; vertical-align: top;}
.departure_table table tr td .btn a{border-radius: 0; background-color: rgb(45, 148, 155, 0.32); color: #1F1F1F; min-width: 5.778vw;}
.departure_table table tr td .btn a:hover{background-color: #2D949B; color: #ffffff;}
.departure_table table tr td .btn.departure_btn_set{display: flex; gap:0.677vw;}
.departure_table table tr td .btn.sold_btn a{background-color: rgb(248, 82, 65, 0.57);}
.departure_table table tr td .btn.sold_btn a:hover{background-color: #F85241;}
.departure_table table tr td.item_sold{color: #F85241;}

@media only screen and (max-width: 1024px){
.departure_ates_inner h4{font-size: 2.065vw;}
.departure_ates_inner .search_row form .search_select.ss1 select{min-width: 29.854vw; background-size: 1.397vw;}
.departure_table table tr th, .departure_table table tr td{font-size: 1.402vw;}
.departure_table table tr td span.price_tax{font-size: 1.052vw;}
.departure_table_main{max-height: 40.192vw;}
}

@media only screen and (max-width: 768px){
.departure_ates_inner h4{font-size: 3.202vw;}
.departure_ates_inner .search_row form .search_select.ss1 select{min-width: 44.083vw; background-size: 2.820vw; padding: 0.521vw 3.090vw 0.521vw 0.521vw;}
.departure_table table tr th, .departure_table table tr td{font-size: 2.437vw;}
.departure_table table tr td span.price_tax{font-size: 2.119vw;}
.departure_ates_inner h4.selsect_year{padding: 2.464vw 0;}
.departure_table table{min-width: 117.181vw;}
.departure_table table tr th, .departure_table table tr td{padding: 1.137vw;}
.departure_table table tr th:first-child{padding-left: 0;}
.departure_table table tr th:last-child{padding-right: 0;}
.departure_table table tr td:first-child{padding-left: 0;}
.departure_table table tr td:last-child{padding-right: 0;} 
.departure_table_main{max-height: 47.307vw;}
.departure_table_main{margin-right: 1.247vw; padding-right: 1.247vw;}

.departure_ates_inner .search_row form .search_select.ss1 select {
background: none; -webkit-appearance: menulist-button; -moz-appearance: menulist-button; appearance: menulist-button;} 
}

/*our-adventure-detail-sec4-end*/

/*our-adventure-detail-sec5-start*/

.faq_box {background-color: #ffffff; border: solid 0.026vw #D6D3D3;box-shadow: 0 0.260vw 0.260vw rgb(0, 0, 0, 0.09);margin: 0 0 0.886vw;}
.faq_box .question {padding: 1.614vw 3.511vw 1.614vw 1.875vw;position: relative;display: flex;align-items: center;cursor: pointer; width: 100%;}
.faq_box .question > h4{font-family: "Raleway", sans-serif; font-size: 1.042vw;font-weight: 800; font-style: italic; text-transform: none;}
.faq_box .question::after {background: url(/images/front-pages/images/down-arrow.svg) center no-repeat; position: absolute; content: ""; top: 0; bottom: 0; margin: auto 0; right: 1.875vw; width: 0.677vw; height: 1.042vw; transition: 0.3s ease-in-out; background-size: cover;}
.faq_box .question.open::after {transform: rotate(180deg);}
.faq_box .answercont {transition: 0.3s;}
.faq_box .answer{padding: 0 1.875vw 1.614vw;}
.faq_box .answer p{font-size: 0.781vw; line-height: 1.4;}
.faq_box:last-child{margin: 0 !important;}

@media only screen and (max-width: 1024px){
.faq_box .question h4{font-size: 1.824vw;}
.faq_box .question::after{width: 1.389vw; height: 1.753vw;}
.faq_box .answer p{font-size: 1.848vw;}
}

@media only screen and (max-width: 768px){
.faq_box .question h4{font-size: 2.607vw;}
.faq_box .question::after{width: 2.100vw; height: 2.464vw; right: 2.586vw;}
.faq_box{margin: 0 0 1.882vw;}
.faq_box .question{padding: 2.326vw 4.792vw 2.326vw 2.586vw;}
.faq_box .answer p{font-size: 2.133vw;}


}


@media only screen and (max-width: 575px){
  .faq_box .question h4{font-size: 3.607vw;}
  .faq_box .answer p{font-size: 3.579vw;}

  
}

.adven_detl_sec5 .faq_box .question::after{background: url(/images/sub-pages/faq-arrow.svg) center no-repeat; background-size: contain;}
.faq_more_btn{padding-top: 2.395vw; text-align: center;}
.faq_more_btn button{border-top: solid 0.052vw #707070; text-transform: uppercase ; border-bottom: solid 0.052vw #707070; padding: 0.781vw; min-width: 11.563vw; display: inline-block; font-size: 0.781vw; font-weight: 800; color: #1F1F1F; cursor: pointer; background: none; }
.faq_more_btn button:hover{color: #F85241;}

@media only screen and (max-width: 1024px){
.faq_more_btn button{font-size: 1.564vw; min-width: 20.100vw; padding: 1.493vw;}
.faq_more_btn{padding-top: 3.107vw;}

}

@media only screen and (max-width: 768px){
.faq_more_btn button{font-size: 2.062vw; min-width: 23.657vw; padding: 1.706vw;}
.faq_more_btn{padding-top: 3.818vw;}

}

@media only screen and (max-width: 575px){
.faq_more_btn button{font-size: 3.437vw; padding: 2.375vw;}

}

/*our-adventure-detail-sec5-end*/


/*our-adventure-detail-sec6-start*/

.adven_detl_sec6 .included_box{background-color: #06242c; padding: 1.667vw;}
.included_box h4{font-size: 1.354vw; font-family: "Raleway", sans-serif; text-transform: none; font-weight: 800; padding-bottom: 1.771vw; color: #ffffff}
body .included_box ul{padding-left: 1.667vw; padding-bottom: 1.207vw; list-style: none;}
body .included_box ul li{color: #ffffff; padding-bottom: 0.521vw;}

@media only screen and (max-width: 1024px){
.adven_detl_sec6 .included_box{padding: 2.378vw;}
.included_box h4{font-size: 2.065vw;}
}

@media only screen and (max-width: 768px){
.adven_detl_sec6 .included_box{padding: 3.303vw;}
.included_box h4{font-size: 2.777vw;}
body .included_box ul li{padding-bottom: 1.232vw;}
}

@media only screen and (max-width: 575px){
	.included_box h4{font-size: 4.777vw;}
	body .included_box ul li{padding-bottom: 2.232vw;}

}

/*our-adventure-detail-sec6-end*/


/*tour-for-me*/


.tour_for_me .tour_bg{background-color: rgb(231, 194, 104, 0.43); padding: 2.500vw;}
.tour_for_me .tour_bg .tour_inner h3{font-size: 1.354vw; font-family: "Raleway", sans-serif; text-transform: none; font-weight: 800; padding-bottom: 1.771vw; color: #1F1F1F;}
.tour_for_me .tour_info_row{display: flex; flex-direction: column; gap: 1.250vw;}
.tour_for_me .tour_info_box h4{font-size: 1.069vw; font-family: "Raleway", sans-serif; text-transform: none; font-weight: 800; padding-bottom: 0.348vw; color: #F85241;}
.tour_for_me .tour_info_box h4 span{color: #1F1F1F;}
.tour_for_me .tour_main_row{display: flex; flex-wrap: wrap; align-items: center; gap:1.250vw; justify-content: space-between;}
.tour_for_me .tour_main_row .tour_clmn_left{width: 55%;}
.tour_for_me .tour_main_row .tour_clmn_right{width: 40%;}
.check_visa{background-color: #F85241; border-radius: 0.469vw;padding: 2.083vw;}
.check_visa h4{font-size: 1.069vw; font-family: "Raleway", sans-serif; text-transform: none; font-weight: 800; padding-bottom: 0.348vw; color: #1F1F1F;}
.check_visa p{color: #ffffff;}
.check_visa .btn a{background-color: #1F1F1F; border-radius: 0;}
.check_visa .btn a:hover{background-color: #ffffff; color: #1F1F1F;}


@media only screen and (max-width: 1024px){
.tour_for_me .tour_bg .tour_inner h3{font-size: 1.781vw;}
.tour_for_me .tour_info_box h4,
.check_visa h4{font-size: 1.496vw;}

}

@media only screen and (max-width: 768px){
.tour_for_me .tour_main_row{gap:3.961vw;}
.tour_for_me .tour_main_row .tour_clmn_left{width: 100%;}
.tour_for_me .tour_main_row .tour_clmn_right{width: 100%;}
.tour_for_me .tour_bg .tour_inner h3{font-size: 3.467vw; padding-bottom: 3.194vw;}
.tour_for_me .tour_info_box h4,
.check_visa h4{font-size: 3.204vw;}
.check_visa{padding: 3.506vw;}
.tour_for_me .tour_info_row{gap: 2.673vw;}
.tour_for_me .tour_info_box h4,
.check_visa h4{padding-bottom: 1.771vw;}
.tour_for_me .tour_bg{padding: 4.5vw;}

}

@media only screen and (max-width: 768px){
	.tour_for_me .tour_bg .tour_inner h3,
	.check_visa h4{font-size: 4.404vw;}

}

/*tour-for-me*/


/*adv-gallery*/

.adv_gallery .gallery_row{display: grid; grid-template-columns: repeat(4, 1fr); gap: 1.667vw;}
.adv_gallery .gallery_box .gallery_img{position: relative; padding-bottom:85%; overflow: hidden; cursor: pointer;}
.adv_gallery .gallery_box .gallery_img img,
.adv_gallery .gallery_box .gallery_img video{position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; transition: 0.3s ease-in-out;}
.adv_gallery .gallery_box .gallery_img:hover img{transform: scale(1.15);}
.more_overlay { position: relative; }
.more_overlay .overlay_text { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.5); color: #fff; text-align: center; padding: 1.042vw; font-size: 2.063vw; line-height: 1.2; cursor: pointer; display: flex; align-items: center; justify-content: center; font-family: "Bebas Neue", sans-serif;}

.adv_gallery .gallery_row .gallery_box:nth-child(n+9){display:none;}
.adv_lightbox {position: fixed; top: 0;left: 0;width: 100%;height: 100vh;background: rgba(0, 0, 0, 0.95);z-index: 10000;display: flex;align-items: center;justify-content: center;opacity: 0;visibility: hidden;transition: all 0.3s ease;}
.adv_lightbox.active {opacity: 1;visibility: visible;}
.adv_lightbox .close {position: absolute;top: 0.711vw;right: 1.067vw;font-size: 1.562vw;background: none;border: none;color: #fff;cursor: pointer;}
.lightbox_content {position: relative;width: 100%;height: 90%;max-width: 90%;display: flex;align-items: center;justify-content: center;}
.slide_container {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.lightbox_image {max-width: 100%;max-height: 100%;object-fit: contain;}
.video_wrapper {width: 100%;height: 80vh;max-width: 1200px;}
.video_wrapper iframe {width: 100%;height: 100%;border: none;}
.gallery_box .overlay_text { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.5); color: #fff; text-align: center; padding: 1.042vw; font-size: 2.063vw; line-height: 1.2; cursor: pointer; display: flex; align-items: center; justify-content: center; font-family: "Bebas Neue", sans-serif;}

.video_indicator{position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.5); color: #fff; text-align: center; cursor: pointer; display: flex; align-items: center; justify-content: center; max-width: 4.167vw; max-height: 4.167vw; border: solid 0.208vw #ffffff; border-radius: 100%; margin: auto;}
.adv_lightbox .controls {position: absolute;top: 50%;width: 100%;display: flex;justify-content: space-between;transform: translateY(-50%);;}
.adv_lightbox .prev{z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.371vw; height: 2.001vw; opacity: 0.7; transition: 0.3s ease-in-out; margin-left: 1.423vw; font-size: 0; cursor: pointer;}
.adv_lightbox .prev:hover{opacity: 1;}
.adv_lightbox .next{z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.371vw; height: 2.001vw; opacity: 0.7; transition: 0.3s ease-in-out; margin-right: 1.423vw; font-size: 0; cursor: pointer;}
.adv_lightbox .next:hover{opacity: 1;}


.counter {display: none;}


@media only screen and (max-width: 1024px){
.adv_gallery .gallery_row{display: grid; grid-template-columns: repeat(2, 1fr); gap: 3.090vw;}
.adv_lightbox .close{font-size: 2.274vw;}
.gallery_box .overlay_text{font-size: 2.775vw;}
.video_indicator{max-width: 6.301vw; max-height: 6.301vw;}

}

@media only screen and (max-width: 768px){
.adv_gallery .gallery_row{display: grid; grid-template-columns: repeat(1, 1fr); gap: 4.513vw;}
.adv_lightbox .close{font-size: 3.697vw;}
.gallery_box .overlay_text{font-size: 4.198vw;}
.video_indicator{max-width: 11.993vw; max-height: 11.993vw; border: solid 0.422vw #ffffff;}
.video_indicator svg{width: 6.301vw; height: 6.301vw;}

}

@media only screen and (max-width: 575px){
	.gallery_box .overlay_text{font-size: 6.198vw;}

}

/*adv-gallery*/



/* Hide mobile view by default on desktop */

.tab_mobile_view {display: none;}

/* Hide desktop view on mobile */

.tab_desktop_view {display: block;}

/* Mobile Accordion Styles */

.mobile_accordion {width: 100%;}
.mobile_header {padding: 3.029vw;text-align: center;border-bottom: 0.052vw solid #e0e0e0;}
.accordion_item {border-bottom: 0.052vw solid #e0e0e0;}
.accordion_header {display: flex;justify-content: space-between;align-items: center;padding: 2.204vw;cursor: pointer;transition: background-color 0.3s ease;}
.accordion_item.active .accordion_header{background-color: #F85241;}
.accordion_header_content {flex: 1;}
.accordion_header .ultimate_day{font-size: 2.385vw; font-weight: 700; letter-spacing: 0.05em; text-transform: uppercase; color: #FFF;}
.accordion_header .ultimate_day_info{font-size: 2.681vw; font-weight: 800; color: #FFF;}
.accordion_icon {font-size: 3.453vw;font-weight: 500;color: #ffffff;}
.accordion_content {padding: 3.090vw;background-color: #ffffff;}
.accordion_content .ultimate_right_left {margin-bottom: 3.090vw;}
.accordion_content .ultimate_right_right {width: 100%;}
.mobile_download {padding:1.493vw;text-align: center;}
.mobile_navigation {padding: 1.493vw;border-top: 0.052vw solid #e0e0e0;}


@media (max-width: 768px) {
.tab_desktop_view {display: none;}
.tab_mobile_view {display: block; background: #062129;}
.accordion_icon {font-size: 6.453vw;}
}
