@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Oswald:wght@400;700&family=Bebas+Neue&display=swap');
/*banner-start*/
.home_banner{position: relative;}
.home_banner .hero_slide_box{min-height: 28.750vw/*100vh*/; display: flex !important; align-items: flex-end/*center*/; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; position: relative; padding-bottom:5.729vw;}
.home_banner .hero_slide_box:before{position: absolute; content: ""; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); opacity: 0.53; mix-blend-mode: multiply; width: 100%; height: 100%; top: 0; left: 0;}
.home_banner .hero_slide_container{max-width: 80%; margin: 0 auto; width: 100%; padding: 0 3.705vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 1; row-gap: 2.134vw;}
.home_banner .hero_slide_text{max-width: 30.469vw;}
.home_banner .hero_slide_text p{color: #ffffff; font-size: 0.938vw; font-weight: 700; font-style: italic; padding-left: 0.711vw; padding-right: 3.557vw;}
.home_banner .hero_slide_text h1,
.home_banner .hero_slide_text h2{color: #ffffff; font-size: 4.688vw/*8.490vw*/; line-height: 1/*7.187vw*/; padding-bottom: 1.667vw;}
.home_banner .slick_next, .home_banner .slick_prev{width: auto; height: auto; font-size: 0; line-height: 0;  position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0,-50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0;}
.home_banner .slick_next:before, .home_banner .slick_prev:before{display: none;}
.home_banner .slick_prev{left: 1.667vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_prev:hover{opacity: 1;}
.home_banner .slick_next{right: 1.667vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_next:hover{opacity: 1;}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide { min-height: unset !important; }

.home_banner.destination_overview_banner .hero_slide_box:before{opacity: 0.44;}
.home_banner.destination_overview_banner .hero_slide_text h1, .home_banner.destination_overview_banner .hero_slide_text h2{padding-bottom: 0.833vw;}
.home_banner.destination_overview_banner .hero_slide_text p{padding-left: 0; padding-bottom: 0;}
.home_banner.destination_overview_banner .hero_slide_text p span{font-style: normal;}
/*.home_banner.destination_overview_banner .hero_slide_text{max-width: 22.656vw;}*/


.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: linear-gradient(180deg,rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(205, 202, 202, 1) 100%); border-radius:0.417vw; padding: 1.563vw 3.646vw; box-shadow: 0 0.598vw 1.064vw rgb(0 0 0 / 20%); max-width: 95%; margin: 0 auto;}
.search_row form{display: flex; gap:0.833vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.25vw; font-weight: 600; color: #1f1f1f; margin-bottom: 0.521vw; display: block; line-height: 1; font-family: "Roboto Condensed", sans-serif;}
.search_row form .search_select select{border: solid 0.0365vw #c7c7c7; outline: none; border-radius: 0.313vw; padding: 0.732vw 2.343vw; width: 100%; font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-size: 1.042vw; color: #1F1F1F;}
.search_row form .search_select.ss1 select{background: url(/images/svg/map.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/svg/building.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss3 select{background: url(/images/svg/user.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.25vw; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Bebas Neue", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center; letter-spacing: 0.05em;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}


@media only screen and (max-width: 1024px){
  .home_banner .hero_slide_container{padding: 0 1.250vw; max-width: 90%;}
  .home_banner .hero_slide_box{min-height: 48.352vw; padding-bottom:11vw;}
  .home_banner .hero_slide_text{max-width: 29.771vw;}
  .home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size:6.253vw;}
  .home_banner .hero_slide_text p{font-size: 1.293vw; padding-left: 0.854vw;}
  .search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw; max-width: 95%;}
.search_row form .search_select label{font-size: 1.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 31.905vw;}  
}

@media only screen and (max-width: 768px){
  .search_box{bottom: -12.806vw;}
  .home_banner .hero_slide_container{padding: 0 2.223vw;}
  .home_banner .hero_slide_box{min-height: 71.136vw; padding-bottom:24vw;}
  .home_banner .hero_slide_text{max-width: 100%;}
  .home_banner .hero_slide_text p{font-size: 2.823vw; padding-left: 0; line-height: 1.3;}
  .home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size: 8.338vw/*8.194vw*/; line-height: 1;}
  .search_row form{flex-direction: column; gap: 1.328vw;}
  .search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw;}
.search_row form > div{width: 100%;}
.search_row form .search_select label{font-size: 2.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 100%;}
}

@media only screen and (max-width: 575px){
  .home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size:9.338vw;}
  .home_banner .hero_slide_box{padding-bottom:28vw;}
}

.home_banner.jade_jungle_banner .hero_slide_container{max-width: 100%; text-align: center; justify-content: center;}
.home_banner.jade_jungle_banner .hero_slide_text{max-width: 100%;}
.home_banner.jade_jungle_banner .hero_slide_text h1, .home_banner.jade_jungle_banner .hero_slide_text h2{font-size: 5.857vw; line-height: 1.1; letter-spacing: 0; padding-bottom:0;}
.home_banner.jade_jungle_banner .hero_slide_text p{font-size: 1.464vw; font-weight: 500; padding-left: 0; padding-right: 0; font-style: normal; padding-top: 1.464vw;}
.home_banner.jade_jungle_banner .hero_slide_box{align-items: flex-end; padding-bottom: 6.589vw;}


@media only screen and (max-width: 1024px){
  .home_banner.jade_jungle_banner .hero_slide_box{align-items: center; padding-bottom: 0;}
}

@media only screen and (max-width: 768px){
  .home_banner.jade_jungle_banner .hero_slide_text h1, .home_banner.jade_jungle_banner .hero_slide_text h2{font-size: 7.857vw;}
  .home_banner.jade_jungle_banner .hero_slide_text p{font-size: 2.864vw;}

}

/*banner-end*/