@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Oswald:wght@400;700&family=Bebas+Neue&display=swap');
a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

/*banner-start*/

.home_banner{position: relative;}
.home_banner .hero_slide_box{min-height: 100vh; display: flex !important; align-items: center; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; position: relative;}
.home_banner .hero_slide_box:before{position: absolute; content: ""; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); opacity: 0.53; mix-blend-mode: multiply; width: 100%; height: 100%; top: 0; left: 0;}
.home_banner .hero_slide_container{max-width: 80%; margin: 0 auto; width: 100%; padding: 0 5.208vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 1; row-gap: 3vw;}
.home_banner .hero_slide_text{max-width: 30.438vw;}
.home_banner .hero_slide_text p{color: #ffffff; font-size: 0.938vw; font-weight: 700; font-style: italic; padding-left: 0; padding-right: 5vw; line-height: 1.25vw;}
.home_banner .hero_slide_text h1,
.home_banner .hero_slide_text h2{color: #ffffff; font-size: 8.49vw; line-height: 7.187vw; padding-bottom: 2.343vw; letter-spacing: -0.020em;}
.home_banner .slick_next, .home_banner .slick_prev{width: auto; height: auto; font-size: 0; line-height: 0;  position: absolute; top: 50%; display: block; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0,-50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0;}
.home_banner .slick_next:before, .home_banner .slick_prev:before{display: none;}
.home_banner .slick_prev{left: 1.667vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_prev:hover{opacity: 1;}
.home_banner .slick_next{right: 1.667vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 1.614vw; height: 2.344vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_next:hover{opacity: 1;}

.location_name{display: flex; align-items: center; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); column-gap: 0.512vw;}
.location_name img{width: 1.146vw; height: 1.146vw;}
.location_name span{font-family: "Bebas Neue", sans-serif; font-size: 0.938vw; font-weight: 400; text-transform: uppercase; color: #ffffff;}


.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto; z-index: 1;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: linear-gradient(180deg,rgba(237, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(205, 202, 202, 1) 100%); border-radius:0.417vw; padding: 1.563vw 3.646vw; box-shadow: 0 0.598vw 1.064vw rgb(0 0 0 / 20%); max-width: 95%; margin: 0 auto;}
.search_row form{display: flex; gap:0.833vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.25vw; font-weight: 600; color: #1f1f1f; margin-bottom: 0.521vw; display: block; line-height: 1; font-family: "Roboto Condensed", sans-serif;}
.search_row form .search_select select{border: solid 0.0365vw #c7c7c7; outline: none; border-radius: 0.313vw; padding: 0.732vw 2.343vw; width: 100%; font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-size: 1.042vw; color: #1F1F1F;}
.search_row form .search_select.ss1 select{background: url(/images/svg/map.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/svg/building.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss3 select{background: url(/images/svg/user.svg) center left 0.732vw no-repeat, url(/images/svg/down-arrow.svg) center right 0.732vw no-repeat; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.25vw; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Bebas Neue", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center; letter-spacing: 0.05em;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}


@media only screen and (max-width: 1024px){
.home_banner .hero_slide_container{max-width: 90%; padding: 0 4.223vw;}
.home_banner .hero_slide_text{max-width: 41.845vw;}
.home_banner .hero_slide_text p{font-size: 1.818vw; padding-left: 1.2vw; line-height: 1.2;}
.location_name span{font-size: 1.918vw;}
.location_name img{width: 2.55vw; height: 2.55vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw; max-width: 95%;}
.search_row form .search_select label{font-size: 1.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}

}

@media only screen and (max-width: 768px){
.search_box{bottom: -18vw;}
.home_banner .hero_slide_box{min-height: 80vh;}
.home_banner .hero_slide_text{max-width: 100%;}
.home_banner .hero_slide_text p{font-size: 3.968vw; padding-left: 0; line-height: 1.3;}
.home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size: 11.517vw; line-height: 1;}
.location_name span{font-size: 4.518vw;}
.location_name img{width: 3.55vw; height: 3.55vw;}
.search_row form{flex-direction: column; gap: 1.866vw;}
.search_box .container{max-width: 90%;}
.search_box_inner{padding: 3.343vw 4.685vw;}
.search_row form > div{width: 100%;}
.search_row form .search_select label{font-size: 2.698vw;}
.search_row form .search_select.ss1 select,
.search_row form .search_select.ss2 select,
.search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
.search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}
.home_banner .hero_slide_container{padding: 0 2.223vw;}
  
}

/*banner-end*/

/*our-destinations-section1-start*/

section.home_section1.our_desti_sec1{padding-top: 10.521vw; background: url(/images/sub-pages/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 13.021vw;}
.our_desti_sec1 .head_text_center{max-width: 43.125vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.146vw;}
.our_desti_sec1 .head_text_center p{max-width: 38.073vw; margin: 0 auto; padding-bottom: 1.146vw;}
.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}

@media only screen and (max-width: 1024px){
  .our_desti_sec1 .head_text_center{max-width: 100%;}
  .our_desti_sec1 .head_text_center p{max-width: 100%;} 
}

/* COMMON CSS START */
.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 3.333vw;}
.bamboo_boat{position: relative;}
.bamboo_boat:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.67; mix-blend-mode: multiply; width: 100%; height: 30%; bottom: 0; left: 0; box-shadow: 0 0.781vw 1.042vw rgb(0, 0, 0, 0.58);}
.adventure_right_text .advanture_text1 h3{font-size: 1.771vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text p span{font-weight: 800;}

@media only screen and (max-width: 1024px){
  .home_section1 .container{max-width: 100%;}
  .adventure_right_text .advanture_text1 h3{font-size: 3.489vw;}
.adventure_right_text .advanture_text1 a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 2.318vw; height: 2.018vw;}
}

@media only screen and (max-width: 768px){
  section.home_section1.our_desti_sec1{padding-top: 30.788vw;}
  .home_section1 .container{max-width: 100%;}
  .adventure_right_text .advanture_text1 h3{font-size: 5.489vw;}
  .adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
  .adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}  
}
/* COMMON CSS END */


/*our-destinations-section1-end*/