a.fl_bx_lnk_glb:hover ~ .network_travel_img_text .btn a{background-color: #ffffff; color: #F85241;}
a.fl_bx_lnk_glb:hover ~ .network_travel_img img{transform: scale(1.1);}

/*banner-start*/

.home_banner{position: relative;}
.home_banner .hero_slide_box{min-height: 100vh; display: flex !important; align-items: center; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; position: relative;}
.home_banner .hero_slide_box:before{position: absolute; content: ""; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(128, 128, 128, 0) 100%); opacity: 0.53; mix-blend-mode: multiply; width: 100%; height: 100%; top: 0; left: 0;}
.home_banner .hero_slide_container{max-width: 80%; margin: 0 auto; width: 100%; padding: 0 5.208vw; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 1; row-gap: 3vw;}
.home_banner .hero_slide_text{max-width: 42.826vw;}
.home_banner .hero_slide_text p{color: #ffffff; font-size: 1.318vw; font-weight: 700; font-style: italic; padding-left: 1vw; padding-right: 5vw;}
.home_banner .hero_slide_text h1,
.home_banner .hero_slide_text h2{color: #ffffff; font-size: 11.933vw; line-height: 10.102vw; padding-bottom: 2.343vw;}
.home_banner .slick_next, .home_banner .slick_prev{width: auto; height: auto; font-size: 0; line-height: 0;  position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0,-50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0;}
.home_banner .slick_next:before, .home_banner .slick_prev:before{display: none;}
.home_banner .slick_prev{left: 2.343vw; z-index: 1; background: url(/images/front-pages/images/left-white-arrow.svg) center no-repeat; background-size: contain; width: 2.269vw; height: 3.294vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_prev:hover{opacity: 1;}
.home_banner .slick_next{right: 2.343vw; z-index: 1; background: url(/images/front-pages/images/right-white-arrow.svg) center no-repeat; background-size: contain; width: 2.269vw; height: 3.294vw; opacity: 0.7; transition: 0.3s ease-in-out;}
.home_banner .slick_next:hover{opacity: 1;}

.location_name{display: flex; align-items: center; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); column-gap: 0.512vw;}
.location_name img{width: 2.05vw; height: 2.05vw;}
.location_name span{font-family: "Bebas Neue", sans-serif; font-size: 1.318vw; font-weight: 400; color: #ffffff;}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide { min-height: unset !important; }

.home_banner.destination_overview_banner .hero_slide_box:before{opacity: 0.44;}
.home_banner.destination_overview_banner .hero_slide_text h1, .home_banner.destination_overview_banner .hero_slide_text h2{padding-bottom: 1.171vw;}
.home_banner.destination_overview_banner .hero_slide_text p{padding-left: 0; padding-bottom: 0;}
.home_banner.destination_overview_banner .hero_slide_text p span{font-style: normal;}
/*.home_banner.destination_overview_banner .hero_slide_text{max-width: 31.845vw;}*/


.search_box{position: absolute; bottom: -5vw; width: 100%; left: 0; right: 0; margin: auto;}
.search_box .container{max-width: 80%;}
.search_box_inner{background: #ffffff; border-radius: 0.366vw; padding: 2.343vw 4.685vw; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.10); }
.search_row form{display: flex; gap:0.366vw; align-items: flex-end;}
.search_row form .search_select{width: 100%;}
.search_row form .search_select label{font-size: 1.025vw; font-weight: 600; color: #020202; margin-bottom: 0.512vw; display: block;}
.search_row form .search_select select{border: solid 0.073vw #707070; outline: none; border-radius: 0.22vw; padding: 0.732vw 2.343vw; width: 100%;}
.search_row form .search_select.ss1 select{background: url(/images/front-pages/images/map.svg) center left 0.732vw no-repeat, url(/images/front-pages/images/down-arrow.svg) center right 0.732vw no-repeat; font-size: 1.171vw; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_select.ss2 select{background: url(/images/front-pages/images/building.svg) center left 0.732vw no-repeat, url(/images/front-pages/images/down-arrow.svg) center right 0.732vw no-repeat; font-size: 1.171vw; background-size: 1.464vw; min-height: 2.855vw;}
.search_row form .search_btn input[type="submit"]{font-size: 1.171vw; font-weight: 800; color: #ffffff; background-color: #EA5647; border-radius:0.22vw; text-transform: uppercase; padding: 0.841vw 2.928vw; display: inline-block; line-height: 1; font-family: "Raleway", sans-serif; outline: none; border: none; cursor: pointer; transition: 0.3s ease-in-out; min-height: 2.855vw; display: flex; align-items: center; justify-content: center;}
.search_row form .search_btn input[type="submit"]:hover{background-color: #000000;}

.home_section2 .home_slider2{position:relative;}


@media only screen and (max-width: 1024px){
  .home_banner .hero_slide_container{padding: 0 1.757vw; max-width: 90%;}
  .home_banner .hero_slide_text{max-width: 41.845vw;}
  .home_banner .hero_slide_text p{font-size: 1.818vw; padding-left: 1.2vw;}
  .location_name span{font-size: 1.918vw;}
  .location_name img{width: 2.55vw; height: 2.55vw;}
  .search_box .container{max-width: 90%;}
  .search_box_inner{padding: 3.343vw 4.685vw;}
  .search_row form .search_select label{font-size: 1.698vw;}
  .search_row form .search_select.ss1 select,
  .search_row form .search_select.ss2 select,
  .search_row form .search_select.ss3 select{font-size: 1.698vw; background-size: 1.964vw; min-height: 4.855vw; padding: 0.732vw 3.343vw;}
  .search_row form .search_btn input[type="submit"]{min-height: 4.855vw; font-size: 1.825vw;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 44.845vw;}  
}

@media only screen and (max-width: 768px){
  .search_box{bottom: -18vw;}
  .home_banner .hero_slide_container{padding: 0 3.125vw;}
  .home_banner .hero_slide_box{min-height: 80vh;}
  .home_banner .hero_slide_text{max-width: 100%;}
  .home_banner .hero_slide_text p{font-size: 3.968vw; padding-left: 0; line-height: 1.3;}
  .home_banner .hero_slide_text h1, .home_banner .hero_slide_text h2{font-size: 11.517vw; line-height: 1;}
  .location_name span{font-size: 4.518vw;}
  .location_name img{width: 3.55vw; height: 3.55vw;}
  .search_row form{flex-direction: column; gap: 1.866vw;}
  .search_box .container{max-width: 90%;}
  .search_box_inner{padding: 3.343vw 4.685vw;}
  .search_row form > div{width: 100%;}
  .search_row form .search_select label{font-size: 2.698vw;}
  .search_row form .search_select.ss1 select,
  .search_row form .search_select.ss2 select,
  .search_row form .search_select.ss3 select{font-size: 2.698vw; background-size: 2.964vw; min-height: 6.855vw; padding: 0.732vw 4.343vw;}
  .search_row form .search_btn input[type="submit"]{min-height: 6.855vw; font-size: 3.425vw; width: 100%;}
  .home_banner.destination_overview_banner .hero_slide_text{max-width: 100%;}
}

/*banner-end*/

/*destination-overview-sec1-start*/

section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 8.788vw;}
section.home_section1.our_desti_sec1{ background: url(/images/front-pages/images/tan-background-copy.jpg) center no-repeat; background-size: cover; box-shadow: none; padding-bottom: 18.302vw; }
.destination_overview_tab{max-width: 51.245vw; margin: 0 auto; padding-bottom: 6.223vw;}
ul.destination_tab{list-style: none; display: flex; flex-wrap: wrap; column-gap: 4.539vw; grid-row-gap: 1.757vw; justify-content: center; border-bottom: solid 0.0365vw #707070;}
ul.destination_tab li a{font-size: 1.171vw; font-weight: 600; text-transform: uppercase; color: #1F1F1F; position: relative; display: block; line-height: 3;}
ul.destination_tab li a:before{position: absolute; content: ""; width: 0%; height: 0.439vw; background-color: #F85241; left: 0; bottom: 0; transition: 0.3s ease-in-out;}
ul.destination_tab li.active a:before,
ul.destination_tab li a:hover:before{width: 100%;}
ul.destination_tab li.active a{text-decoration: none;}

.adventure_right_text .advanture_text1,
.adventure_right_text .advanture_text2{display: flex; align-items: center; column-gap: 3.333vw;}
.adventure_right_text .advanture_text1 h3{font-size: 2.489vw; color: #F85241; letter-spacing: 0.138em;}
.adventure_right_text .advanture_text1 a{font-size: 1.025vw; font-weight: 600; color: #ffffff; background-color: #F85241; padding: 0.732vw 1.318vw; line-height: 1; display: flex; align-items: center; gap:0.952vw; text-transform: none; letter-spacing: -0.010em;}
.adventure_right_text .advanture_text1 a svg{width: 1.318vw; height: 1.318vw;}
.adventure_right_text .advanture_text1 a:hover{background-color: #000000;}
.adventure_right_text .advanture_text2{padding: 1.098vw 0 1.196vw;}
.adventure_right_text .advanture_text2 h2{font-size: 5.857vw; color:#1F1F1F; line-height: 5.124vw;}
.adventure_right_text .advanture_text2 img{margin-right: 4.1vw; width: 6.223vw; height: 7.467vw;}
.adventure_right_text p span{font-weight: 800;}

.our_desti_sec1 .adventure_right_text .advanture_text1{justify-content: center;}
.our_desti_sec1 .head_text_center{max-width: 60.615vw;}
.our_desti_sec1 .head_text_center h2{color: #1F1F1F; letter-spacing: 0; line-height: 1; padding-bottom: 1.611vw;}
.our_desti_sec1 .head_text_center p{max-width: 53.514vw; margin: 0 auto; padding-bottom: 1.611vw;}

@media only screen and (max-width: 1024px){
ul.destination_tab{column-gap: 3.539vw;}
ul.destination_tab li a{font-size: 1.771vw;}
.our_desti_sec1 .head_text_center{max-width: 100%;}
.our_desti_sec1 .head_text_center p{max-width: 100%;}
.adventure_right_text .advanture_text1 a{font-size: 1.825vw; padding: 1.532vw 2.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 2.318vw; height: 2.018vw;}

}

@media only screen and (max-width: 768px){
section.home_section1.our_desti_sec1.destination_overview_sec1{padding-top: 25.788vw;}
.destination_overview_tab{max-width: 90%;}
ul.destination_tab li a{font-size: 2.971vw;}
.destination_overview_tab{padding-bottom: 9.223vw;}
.adventure_right_text .advanture_text1 a{font-size: 3.825vw; padding: 1.532vw 3.025vw;}
.adventure_right_text .advanture_text1 a svg{width: 3.318vw; height: 3.318vw;}

}

/*destination-overview-sec2-start*/

.our_desti_sec2{margin-top: -10.981vw;}
.destination_overview_sec2 .grid_box span{font-size: 1.757vw; font-weight: 800; font-style: italic; line-height: 1.2; padding-bottom: 1.464vw; display: block; color: #000000;}

@media only screen and (max-width: 1024px){
.destination_overview_sec2 .grid_box span{font-size: 2.757vw; padding-bottom: 2.464vw;}
}

@media only screen and (max-width: 768px){
.destination_overview_sec2 .grid_box span{font-size: 3.757vw; padding-bottom: 3.464vw;}
.destination_overview_sec2 .grid_box:first-child{order: 1;}
.destination_overview_sec2 .grid_box:last-child{order: 0;}
}

/*destination-overview-sec2-end*/

/*destination-overview-sec3-start*/

.destination_overview_sec3 .grid_box h2{padding-bottom: 1.171vw;}
.destination_overview_sec3 .grid_box p{font-weight: 600; letter-spacing: -0.010em;}

@media only screen and (max-width: 1024px){
.destination_overview_sec3 .grid_box h2{padding-bottom: 1.563vw;}
}

@media only screen and (max-width: 768px){
.destination_overview_sec3 .grid_box h2{padding-bottom: 2.083vw;}
}

/*destination-overview-sec3-end*/



/*destination-overview-sec4-start*/

section.home_section2{position: relative;}
.adventure_post{position: relative;}
.home_section2 .slick-dotted.slick-slider{margin-bottom: 0;}
.home_slider2 .slick-list{padding: 0 12.811vw !important;}
.home_slider2 .slick-list,
.home_slider2 .slick-list .slick-track{display: flex;}
.home_slider2 .slick-list .slick-slide{padding: 0 0.732vw 2.196vw;}
.home_slider2 .resort_box{position: relative;}
.home_slider2 .resort_box .resort_img{position: relative; padding-bottom: 46.12vw;}
.home_slider2 .slick-slide:not(.slick-active) .resort_box .resort_img:before{position: absolute; content: ""; background-color: #1F1F1F; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; opacity: 0.53;}
.home_slider2 .resort_box .resort_img img{position: absolute; width: 100%;height: 100%; object-fit: cover; top: 0; left: 0; box-shadow: 0 1.098vw 1.464vw rgb(0, 0, 0, 0.16); display: block;}
.home_slider2 .resort_box:before{position: absolute; content: ""; background: linear-gradient(360deg,rgba(31, 31, 31, 1) 0%, rgba(105, 105, 105, 0) 100%); opacity: 0.55; mix-blend-mode: multiply; width: 100%; height: 50%; bottom: 0; left: 0; right: 0; z-index: 1;}

.home_slider2 .slick-dots{display: flex; justify-content: center; bottom: -3vw; gap:0.5vw; }
.home_slider2 .slick-dots li{width: auto; height: auto; margin: 0; padding: 0;}
.home_slider2 .slick-dots li button{width: 1.245vw; height: 1.245vw; border-radius: 5.208vw; background-color: #ffffff; border: solid 0.0365vw #131313; padding: 0;}
.home_slider2 .slick-dots li.slick-active button{border-color: #EA5647; background-color: #EA5647;}
.home_slider2 .slick-dots li button:before{display: none;}
.home_slider2 .slick-dotted.slick-slider{margin-bottom: 0;}

@media only screen and (max-width: 1024px){
.home_slider2 .resort_box .resort_img{padding-bottom: 56.12vw;}
.home_slider2 .slick-dots li button{width: 2.245vw; height: 2.245vw;}
.home_slider2 .slick-dots{gap: 1.5vw; bottom: -6vw;}

}

@media only screen and (max-width: 768px){
.home_slider2 .resort_box .resort_img{padding-bottom: 100%;}
.home_slider2 .slick-dots li button{width: 3.245vw; height: 3.245vw;}
.home_slider2 .slick-dots{gap: 2.5vw;}

}

/*destination-overview-sec4-end*/


/*destination-overview-sec5-start*/

.destination_overview_sec5{background: url(/images/sub-pages/map-bg.svg) center bottom  5.657vw no-repeat; background-size:48.243vw 33.895vw;}
.dr_quick{position: relative; text-align: center;}
.dr_quick h2{font-size: 12.665vw; opacity: 0.07; letter-spacing: 0.005em; line-height: 1;}
.dr_quick h4{color: #F85241; letter-spacing: 0.005em; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.destination_overview_sec5 .grid2{column-gap: 7.028vw;}
.destination_overview_sec5 .grid2 .grid_box ul{list-style: none;}
.destination_overview_sec5 .grid2 .grid_box ul li{padding-bottom: 1.464vw; color: #000000;}
.destination_overview_sec5 .grid2 .grid_box ul li span{font-size: 1.464vw;}


@media only screen and (max-width: 1024px){
.destination_overview_sec5 .grid2 .grid_box ul li span{font-size: 1.953vw;}
.destination_overview_sec5{background-size:64.355vw 44.238vw;}

}

@media only screen and (max-width: 768px){
.destination_overview_sec5 .grid2 .grid_box ul li span{font-size: 3.604vw;}
.destination_overview_sec5{background-size:85.807vw 58.984vw; background-position: center center;}
.destination_overview_sec5 .grid2 .grid_box ul li{padding-bottom: 2.464vw;}

}

/*destination-overview-sec5-end*/


/*destination-overview-sec6-start*/


.faq_box {background-color: #ffffff; border: solid 0.0365vw #D6D3D3;box-shadow: 0 0.366vw 0.366vw rgb(0, 0, 0, 0.09);margin: 0 0 1.245vw;}
.faq_box .question {padding: 2.269vw 2.635vw;position: relative;display: flex;align-items: center;cursor: pointer;}
.faq_box .question > h4{font-family: "Raleway", sans-serif; font-size: 1.464vw;font-weight: 800; font-style: italic; text-transform: none;}
.faq_box .question::after {background: url(/images/front-pages/images/down-arrow.svg) center no-repeat; position: absolute; content: ""; top: 0; bottom: 0; margin: auto 0; right: 2.635vw; width: 0.952vw; height: 1.464vw; transition: 0.3s ease-in-out; background-size: cover;}
.faq_box .question.open::after {transform: rotate(180deg);}
.faq_box .answercont {max-height: 0; overflow: hidden; transition: max-height 0.8s ease-in-out;}
.faq_box .answercont.show {max-height: 1000px;}
.faq_box .answer{padding: 0 2.635vw 2.269vw;}
.faq_box:last-child{margin: 0 !important;}

@media only screen and (max-width: 1024px){
  .faq_box .question h4{font-size: 2.564vw;}
  .faq_box .question::after{width: 1.952vw; height: 2.464vw;}
}

@media only screen and (max-width: 768px){
  .faq_box .question h4{font-size: 3.664vw;}
  .faq_box .question::after{width: 2.952vw; height: 3.464vw; right: 3.635vw;}
  .faq_box{margin: 0 0 2.645vw;}
  .faq_box .question{padding: 3.269vw 3.635vw;}

  
}

/*destination-overview-sec6-end*/